<div class="dialog overflow-auto-y">
    <div class="m-2">
        <a type="button" href="/mayastor" class="btn btn-danger">close</a>
        <div class="d-box">
            <div class="row mt-1">
                <div class="col-md-12">
                    <ul class="px-1">
                        <li>
                            <div class="ml-3 my-3 stage-jobs-content">
                                <ul class="p-0">
                                    <li *ngFor="let test of testData.tests"
                                        class="font-size-12 job-row my-1 d-flex justify-content-between">
                                        <div class="job-link-line-left my-auto"></div>
                                        <div class="badge badge-pill border font-size-12 font-weight-normal job-name">
                                            {{test.name}}
                                        </div>
                                        <div class="job-link-line-right my-auto"></div>
                                        <div class="d-flex my-auto" placement="left" ngbTooltip="{{test.description}}">
                                            <div><i [ngClass]=statusIcon(test.status)></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>