.RunnerStatus{
    width: 1rem;
    // border: 1px solid #e4e6e8;
    border-radius: 50px;
    padding: 0px 5px;
    font-size: 14px;
    &.RunnerOnline{
        // border: 1px solid #64B5F6;
        background-color: #1E88E5;
        color: #f2fde4;
    }
    &.RunnerOffline{
        border: none !important;
        background-color: #E53935;
        color: #f2fde4;
    }

}