.logo {
  height: 40px;
  width: 300px;
  margin-right: -35px;
  padding-right: 15px;
  padding-bottom: 8px;
}
.navbar-yes-bg {
  /* background: #4900DC; */
  background: url("../../assets/img/backgrounds/background.svg");
  width: 100%;
}

.heart {
  color: white;
  vertical-align: text-top;
  font-size: 22px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;

  -webkit-animation: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.heart:hover {
  color: red;
  font-size: 25px;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  cursor: pointer;
}
