<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="ol">
        <img class="logo" src="../../assets/img/openebs.svg">
        <a href="https://github.com/openebs/openebs/stargazers" target="_blank" class="fa fa-heart heart"></a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://workloads.openebs.io/" target="_blank">Workloads</a>
        </li>
        <li>
          <a href="https://openebs.io/" target="_blank">OpenEBS</a>
        </li>
        <li>
          <a href="https://openebs.io/litmus/" target="_blank">Litmus</a>
        </li>
        <li>
          <a href="https://slack.openebs.io/" target="_blank">
            <i class="fa fa-slack"></i> Join our Community</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Top content -->
<div class="top-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text wow fadeInLeft">
        <h1>OpenEBS CI & E2E Dashboard</h1>
        <div class="description">
          <p class="medium-paragraph">
            CI/CD status with E2E Logs
          </p>
        </div>
      </div>
    </div>
  </div>
</div>