.bd{
    border-right: 2px solid #EFF2F6;
}

.header-text {
    font-family: lato;
    font-size: 17px;
    font-weight: bold;
    color: #54576B;
}

a {
    // margin-top: 5px;
    // margin-bottom: 0px;
    font-size: 14px;
    color: #8890A9;
}

span {
    // font-size: 20px;
    padding-top:20px;
    margin-top:50px;
    // margin-bottom: 0px;
}