.logo {
  height: 40px;
  width: 300px;
  margin-right: -35px;
  padding-right: 15px;
  padding-bottom: 8px;
}
.navbar-yes-bg {
  /* background: #4900DC; */
  background: url("../../assets/img/backgrounds/background.svg");
  width: 100%;
}

.heart {
  color: white;
  vertical-align: text-top;
  font-size: 22px;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;

  -webkit-transition: font-size 1s ease-out;
  -moz-transition: font-size 1s ease-out;
  -o-transition: font-size 1s ease-out;
  transition: font-size 1s ease-out;
}

.heart:hover {
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.header-nav-link {
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.header-nav-link:hover {
  color: rgb(51, 48, 48);
  cursor: pointer;
}
