.line{
    border-right: 2px solid #EFF2F6;
}

.navbar {
    padding: 0px;;
}
.headbar{
    background: #23232A;
    color: #ffff;
    background-image: url('/src/assets/images/header/head-left.svg');
    background-position-y: top;
    background-repeat: no-repeat;
    background-position-x: right;
}

.header-text {
    // font-family: lato;
    font-size: 17px;
    // font-weight: bold;
    color: #ffff;
}
.head-icons{
    padding: 5px;
    font-size: 20px;
    color: #ffff;
}
.navbar-logo {
    height: 40px;
}

.newsletter {
    margin-left:10px;
    margin-right:10px;
    height:25px;
}

a:hover {
    text-decoration: none;
}

.slack {
    margin-left:10px;
    margin-right:10px;
    height: 28px;
}
input, textarea {

    background-color : #F3F4F5; 
  
  }
  .btn-outline-custom {
    color: #fff;
    background-image: linear-gradient(#1991EB, #2DA1F8);
    border-color: #2DA1F8;
}  
@media only screen and (max-width: 1400px) {
    .header-text {
        font-size: 13px;
    }
    .navbar-logo {
        height: 22px;
    }
    .newsletter {
        height:20px;
    }
    span {
        font-size: 13px;
    }
    .slack {
        height: 22px;
    }
    .heart {
        font-size: 10px !important; 
    }
}

a {
    font-size: 14px;
    color: #8890A9;
    cursor: pointer;
}

span {
    padding-left: 12px;
    padding-bottom: 0px;
    color: #9896B3;
}

.heart {
    color: #F35400;
    vertical-align: text-top;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
  }

.heart:hover {
  color: white;
  cursor: pointer;
}

.btn-outline-danger:hover {
    background-color: #F35400;
    border-color: #F35400;
}

img {
    margin-top: 10px;
    margin-bottom: 15px;
}

.far {
    color: #7265ea;
    font-size: 90px;
    padding: 17px;
}

input {
    background-color: white;
}
.head-top-icon{
 padding-right: 10px;
}
.head-top-icon{
    a:nth-child(1):hover{
        color: red;

    }
    a:nth-child(2):hover{
        color: black;
    }
    a:nth-child(3):hover{
        color: black;
    }
}   