.line{
    border-right: 2px solid #EFF2F6;
}

.navbar {
    padding: 0px;;
}

.header-text {
    // font-family: lato;
    font-size: 17px;
    // font-weight: bold;
    color: #54576B;
}

.navbar-logo {
    height: 30px;
}

.newsletter {
    margin-left:10px;
    margin-right:10px;
    height:25px;
}

.slack {
    margin-left:10px;
    margin-right:10px;
    height: 28px;
}

@media only screen and (max-width: 1400px) {
    .header-text {
        font-size: 13px;
    }
    .navbar-logo {
        height: 22px;
    }
    .newsletter {
        height:20px;
    }
    span {
        font-size: 13px;
    }
    .slack {
        height: 22px;
    }
    .heart {
        font-size: 10px !important; 
    }
}

a {
    font-size: 14px;
    color: #8890A9;
    cursor: pointer;
}

span {
    padding-left: 12px;
    padding-bottom: 0px;
    color: #9896B3;
}

.heart {
    color: #F35400;
    vertical-align: text-top;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
  }

.heart:hover {
  color: white;
  cursor: pointer;
}

.btn-outline-danger:hover {
    background-color: #F35400;
    border-color: #F35400;
}

img {
    margin-top: 10px;
    margin-bottom: 15px;
}