<nav class="navbar navbar-expand-lg bg-white border px-0 ">
  <div class="container-fluid d-block">
    <div class="row">
        <div class="w-100 headbar">
          <div class="collapse navbar-collapse my-2" id="navbarSupportedContent">    
            <ul class="navbar-nav mr-auto">
              <li>
                <span class="header-text">{{header}}</span>
              </li>
            </ul>
            <ul class="navbar-nav mr-right ">
                <li class="my-2  my-lg-0 form-inline head-top-icon">
                    <a placement="bottom" ngbTooltip="Like Us!" href="https://github.com/openebs/openebs/stargazers" target="_blank" class="btn btn-sm btn-outline-light fas fa-heart head-icons"></a>
                    <a data-toggle="modal" data-target="#subscribeModal" placement="bottom" ngbTooltip="Subscribe to our news letter" class="btn btn-sm btn-outline-light fas fa-envelope-open-text head-icons mx-5"></a>
                    <a ngbTooltip="Join Community"  placement="left" href="https://slack.openebs.io"  class="btn btn-sm btn-outline-light fab fa-slack head-icons"></a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribe" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content w-120">

      <div *ngIf="setFormChange == false; else second;">
        <div class="modal-body pb-2 pt-2">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="pr-1">×</span></button>
          <div class="text-center">
            <i class="far fa-envelope-open"></i>
            <h3 class="font-weight-bold subscribeLine">Subscribe to our newsletter</h3>
            <p class="joinLine">Join our subscribers list to get the latest newsletter and updates delivered directly to your inbox.</p>
          </div>
          <form class="form-view theme2 b-d" novalidate [formGroup]="leadForm" (ngSubmit)="formSubmit()">
            <div class="d-flex flex-column justify-content-md-between mx-auto w-80">
              <div class="form-group required-control newsletter-input-1">
                <div class="input-group">
                  <div class="input-group-prepend w-14">
                    <span class="input-group-text w-100 bg-light pb-1"
                      id="basic-addon1"> <img class="my-0 mx-auto" src="/assets/images/icons/man.svg" alt=""></span>
                  </div>
                  <input maxlength="250" id="agilefield-1" name="first_name" id="agilefield-1" formControlName="name"
                    type="text" placeholder="Name" class="form-control" [ngClass]="{
                  'valid_input':name.valid && (name.touched || name.dirty),
                  'invalid_input':name.invalid && (name.touched || name.dirty || isFormEmpty)
                  }">
                </div>
              </div>
              <div class="form-group required-control newsletter-input-2">
                <div class="input-group">
                  <div class="input-group-prepend w-14">
                    <span class="input-group-text p-0 w-100 bg-white" 
                      id="basic-addon1"> <img class="my-0" src="/assets/images/icons/envelope.svg" alt=""> </span>
                  </div>
                  <input maxlength="250" id="agilefield-3" name="email" type="email" id="agilefield-2" formControlName="email"
                    placeholder="Email" class="form-control" [ngClass]="{
                  'valid_input':email.valid && (email.touched || email.dirty),
                  'invalid_input':email.invalid && (email.touched || email.dirty || isFormEmpty)
                  }">
                </div>
              </div>
              <div class="agile-group float-centerd-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-pill btn-secondary action-button btn-sm btn-outline-custom subscribeBtn" id="slacksubmit"
                  data-toggle="modal" data-target="#openebsnewsletterthanks" [disabled]="!leadForm.valid">Subscribe
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <ng-template #second>
        <div class="modal-body text-center p-0">
          <div class="modal-body pd-t-b-heading1">
              <img class=" m-t-b-2" src="/assets/images/icons/news.svg" alt="" height="80">
            <img class="d-block m-2 " src="/assets/images/icons/check.svg" alt="">
            <p class="mb-0 text-secondary" >Thank you for signing up with OpenEBS Newsletter</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>