<footer class="footer pt-4 pt-md-5">

  <div class="container-fluid" style="background-color: rgb(34, 34, 43); ">
    <div class="row" style="margin-top: 50px;">

    </div>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 my-5"></div>

        <div class="col-sm-7 my-5">
          <table class="table borderless">
            <tbody class="textcolor" style="text-decoration-color: white;">
              <tr>
                <td>
                  <a href="https://openebs.io/events" class="text-white" target="_blank">Events</a>
                </td>
                <td>
                  <a href="https://openebs.io/careers" class="text-white" target="_blank">Careers</a>
                </td>
                <td>
                  <a href="https://github.com/openebs/" class="text-white" target="_blank">
                    <i class="fa fa-github"></i> Github</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://openebs.io/hackfests" class="text-white" target="_blank">Hackfests</a>
                </td>
                <td>
                  <a href="https://openebs.io/faq" class="text-white" target="_blank">FAQ</a>
                </td>
                <td>
                  <a href="https://slack.openebs.io/" class="text-white" target="_blank">
                    <i class="fa fa-slack"></i> Slack</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://openebs.io/hangout" class="text-white" target="_blank">Hangouts</a>
                </td>
                <td>
                  <a href="https://openebs.io/newsletter/" class="text-white" target="_blank">Newsletters</a>
                </td>
                <td>
                  <a href="https://blog.openebs.io/" class="text-white" target="_blank">
                    <i class="fa fa-newspaper-o"></i> Blogs</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://openebs.io/meetups" class="text-white" target="_blank">Meetup</a>
                </td>
                <td>
                  <a href="https://www.youtube.com/channel/UC3ywadaAUQ1FI4YsHZ8wa0g" class="text-white" target="_blank">Videos</a>
                </td>
                <td>
                  <a href="https://twitter.com/openebs" class="text-white" target="_blank">
                    <i class="fa fa-twitter"></i> Twitter</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://openebs.io/cafe" class="text-white" target="_blank">Cafe</a>
                </td>
                <td>
                  <a href="https://docs.openebs.io/" class="text-white" target="_blank">Docs</a>
                </td>
                <td>
                  <a href="https://openebs.io/litmus" class="text-white" target="_blank">
                    <i class="fa fa-thermometer-empty"></i> Litmus</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.katacoda.com/openebs/scenarios/openebs-intro" class="text-white" target="_blank">Training</a>
                </td>
                <td>
                  <a href="https://docs.openebs.io/docs/releasenotes.html" class="text-white" target="_blank">Releases</a>
                </td>
                <td>
                  <a href="https://www.mayadata.io/aboutus" class="text-white" target="_blank">
                    <i class="fa fa-info"></i> About Us</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">

    </div>

  </div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <img class="url-logo" src="../../assets/img/openebs-logo.svg">
        </div>
        <div class="col-md-4">
          <img class="url-logo" src="../../assets/img/mayadata-logo.svg">
        </div>
        <div class="col-md-4">
          <img class="url-logo" src="../../assets/img/mo-beta-01.svg" style="width: 290px;">
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>




</footer>