 .footer {
     margin-top: 100px;
 }
 
 .url-logo {
     width: 200px;
     padding: 5px;
 }
 .panel-button {
    border-radius: 4px;
    background-color: #5800E4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 210px;
    height: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .panel-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .panel-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .panel-button:hover span {
    padding-right: 25px;
  }
  
  .panel-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .borderless td, .borderless th {
    border: none;
  }