.footer {
  margin-top: 100px;
}

.url-logo {
  width: 200px;
  padding: 5px;
}
.panel-button {
  border-radius: 4px;
  background-color: #5800e4;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 210px;
  height: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.panel-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.panel-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.panel-button:hover span {
  padding-right: 25px;
}

.panel-button:hover span:after {
  opacity: 1;
  right: 0;
}

.borderless td,
.borderless th {
  border: none;
}

.footer {
  padding-top: 15px;
  background-color: #616161;
  color: white;
}
.footer-details {
  background-color: #f7f7f7;
  color: #919191;
}
.company-logos .logo img {
  height: 50px;
  width: 180px;
}
.company-logos .logo img:nth-child(2),
.company-logos .logo img:nth-child(3) {
  margin-right: 1rem;
}
.social-icon i {
  font-size: 20px;
  color: white;
}
.social-icon i:nth-child(1),
.social-icon i:nth-child(2),
.social-icon i:nth-child(3) {
  margin-right: 2rem;
}
.logo-bg {
  background: #ffffff;
  border-radius: 50px 50px 50px 50px;
  margin: 10px;
  width: 30px;
}
