<div class="footer">
  <div class="social-icon">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center">
            <a href="https://github.com/openebs/">
              <i class="fab fa-github" placement="bottom" ngbTooltip="Github"></i>
            </a>
            <a href="https://slack.openebs.io/">
              <i class="fab fa-slack" placement="bottom" ngbTooltip="Slack"></i>
            </a>
            <a href="https://blog.openebs.io/">
              <i class="fab fa-medium" placement="bottom" ngbTooltip="Blog"></i>
            </a>
            <a href="https://twitter.com/openebs">
              <i class="fab fa-twitter" placement="bottom" ngbTooltip="Twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company-logos">
    <div class="container">
      <div class="row">
        <div class="logo col-md-12 d-flex justify-content-center">
          <a href="https://openebs.io/" target="_blank">
            <img class="logo-bg" style="padding: 5px;" src="../../assets/img/openebs-default.svg" alt="OpenEBS">
          </a>
          <a href="https://mayadata.io/" target="_blank">
            <img class="logo-bg" style="padding: 15px;" src="../../assets/img/mayadata-logo.svg" alt="MayaData">
          </a>
          <a href="https://openebs.io/litmus/" target="_blank">
            <img class="logo-bg" style="padding: 8px;" src="../../assets/img/litmus-mule.svg" alt="Litmus">
          </a>
          <a href="https://mayaonline.io/" target="_blank">
            <img class="logo-bg" style="padding: 5px;" src="../../assets/img/MO-logo.svg" alt="MayaOnline">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>