.body {
  background-color: white;
  border-radius: 5px;
}

.detail {
  background-color: white;
  height: 885px;
  border-radius: 5px;
}

.details {
  padding: 5px;
}
ul .active {
  background-image: linear-gradient(#64c2e1, #348fc0);
  h3 {
    color: #d3d3d3;
  }
}
h1 {
  font-size: 1.2em;
  color: #54576b;
}
h2 {
  font-size: 0.9em;
  color: #949bb3;
}
h3 {
  font-size: 0.8em;
  text-align: left;
  padding-left: 20px;
  color: #949bb3;
}
h4 {
  font-size: 2.6em;
  text-align: left;
  padding-left: 20px;
  color: #3a3d54;
  font-weight: 10;
}
h5 {
  font-size: 1.2em;
  color: #54576b;
  display: block;
  text-align: center;
}
h6 {
  position: inherit;
  word-break: normal;
  font-size: 0.9em;
  color: #949bb3;
  text-align: center;
}

p {
  font-size: 15px;
  color: #949bb3;
  text-align: center;
  margin-bottom: 0;
}
tr {
  font-size: 0.9em;
  color: #54576b;
  border-bottom: 1px solid #d3d3d3;
}
.btn-txt {
  padding: 0px;
  border-width: 0px;
}

.btn-txt:hover {
  background-color: inherit;
  color: inherit;
}

.avoid-clicks {
  pointer-events: none;
}

.table {
  margin-top: 2px;
  max-height: 630px;
}
.button {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.checked {
  color: orange;
}

img {
  padding: 15px;
}

// star rating
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;

  &-top {
    color: orange;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.btn-outline-custom:hover {
  color: #fff;
  background-image: linear-gradient(#1991eb, #2da1f8);
  border-color: #1585d8;
}

.btn-outline-custom {
  color: #354052;
  background-color: transparent;
  background-image: none;
  border-color: #dfe3e9;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #28a745;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #dc3545;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #6c757d;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #007bff;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #ffc107;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #343a40;
}

.gitlabButton {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  font-size: 15px;
}

.litmusButton {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  font-size: 15px;
}

@media only screen and (max-width: 1500px) {
  .statusbutton {
    font-size: 13px !important;
  }
  @media only screen and (max-width: 1400px) {
    .statusbutton {
      font-size: 11px !important;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

.btn-status-warning {
  color: #ffb000;
  background-color: transparent;
  background-image: none;
  border-color: #ffb000;
}

.custom-pointer {
  pointer-events: none;
}

a:hover {
  text-decoration: none;
}
.dropBtn:hover{
  border: 1px blue solid;
}


.fa {
  font-size: 17px;
}

.highlight {
  border-bottom: 5px solid #654cf9;
}

.row_color {
  // background-color: #F2F4F6;
  background-color: #ededed;
}

.gitlab_stages {
  color: #2399f1;
  text-align: left;
  font-size: 12px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.gitlab_stages:hover {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.gitlab_stage_build_status {
    display: flex;
    justify-content: center;
    width: 100%;
}
.gitlab_stage_primary{
    border-radius: 24px;
    padding: 0.3rem 0rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 90%;
    font-size:12px;
    text-align: center;
}
.gitlab_stage_build_success {
  background-color: #ecf4e0;
  color: #335500;

}
.gitlab_stage_build_failed {
  background-color: #fce0e0;
  color: #760606;
}
.gitlab_stage_build_running {
    background: rgba(108,138,255,0.55);
  color: #0000a1;
}
.gitlab_stage_build_skipped {
  background-color: rgba(201,202,206,0.55);
  color: #4e5672;
}
.gitlab_stage_build_pending {
  background-color: rgba(232,223,17,0.55);
  color: #656204;
}

.scrollbar
{
	height: 895px;
	overflow: auto;
}

#scrollbar::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
}

#scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C0C0C0;
}
.btn.btn-link i {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.btn.btn-link.collapsed i{
  -webkit-transform: scaleY(1);
  transform: scaleY(1);

}
.dropData{
  padding: 0;
  vertical-align: middle;
  align-items: center;
}
.platformImg{
  padding: 2px;
}
.platform{
  p{
    font-size: 13px;
  }

}