<div class="row">
  <!-- table pannel start -->
  <div class="col-sm-8">
    <div class="body border h-100">
      <div class="container">
        <div class="details">
          <h1>CI and E2E summary for commits</h1>
          <h2>Summary of build status and E2E pipeline status on OpenEBS repository</h2>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active " href="#profile" role="tab" data-toggle="tab">
            <h3 class="text-white">BRANCH</h3>
            <h4 class="font-size-32">Master</h4>
            <h3 *ngIf="undefined !== buildData" class="text-white">Builds in last one week:
              {{ masterBuildsCount(buildData.dashboard) }}
            </h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled cursor-default" href="#buzz" role="tab" data-toggle="tab">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled cursor-default" href="#references" role="tab" data-toggle="tab">
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="table tab-content scrollbar mb-0" id="scrollbar">
        <div role="tabpanel" class="tab-pane active p-2" id="profile">
          <table id="data" class="table table-borderless">
            <thead>
              <tr class="text-center">
                <th>Trigger</th>
                <th>Build</th>
                <th class="text-center">E2E Pipelines (PACKET) </th>
              </tr>
              <tr class="text-center">
                <td></td>
                <td></td>
                <td class="d-flex align-items-center justify-content-center platform ml-2">
                  <span class="mx-4"><img class="p-0" height="30" src="/assets/images/company-logos/k8s.png">
                    <p class="font-size-13">1.13.4</p>
                  </span>
                  <span class="mx-4"><img class="p-0" height="30" src="/assets/images/company-logos/k8s.png">
                    <p class="font-size-13">1.14.5</p>
                  </span>
                  <span class="mx-4"><img class="p-0" height="30" src="/assets/images/company-logos/k8s.png">
                    <p class="font-size-13">1.15.3</p>
                  </span>
                  <span class="mx-4"><img class="p-0" height="30" src="/assets/images/cloud/D2IQ.svg">
                    <p class="font-size-13">Konvoy</p>
                  </span>

                </td>
              </tr>
            </thead>
            <tbody *ngIf="undefined !== (packetV15Data && buildData && packetV14Data && packetV13Data)">
              <tr [ngClass]="{'row_color': i==rowCount()}" class="text-center"
                *ngFor="let post of buildData.dashboard; let i = index" [attr.data-index]="i">
                <td>
                  <a class="github-commit" href="{{pullRequestURL(buildData.dashboard[i])}}" target="_blank">
                    {{ getCommitName(i, buildData.dashboard) }}/#{{ getCommit(i, buildData.dashboard) | slice:0:8 }}
                  </a>
                  <p class="font-size-12">Commit: {{ updated(i, buildData.dashboard) }}</p>
                </td>

                <td>
                  <button placement="bottom" ngbTooltip="{{buildTooltip(i, buildData.dashboard)}}"
                    [ngClass]="buttonStatusClass(buildStatus(i, buildData.dashboard))"
                    (click)="clickit(buildWeburl(i, buildData.dashboard)); detailPannel(i, packetV13.dashboard, buildData.dashboard, 'packetV13'); ">
                    <i class="font-size-13" [ngClass]="iconClass(buildStatus(i, buildData.dashboard))"></i>
                    <a class="ml-1 font-size-15">{{buildStatus(i, buildData.dashboard)}}</a>
                  </button>
                </td>

                <td class="d-flex justify-content-center">

                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, packetV13Data.dashboard) }}"
                    (click)="detailPannel(i, packetV13Data.dashboard, buildData.dashboard, 'packetv13');"
                    [ngClass]="{'highlight': (status == 1 && i==rowCount())}"
                    [ngStyle]="{'pointer-events': pipelineTooltip(i, packetV13Data.dashboard) === 'pending' ? 'none' : 'initial' }"
                    style=" padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;cursor:pointer">
                    <i *ngIf="pipelineTooltip(i, packetV13Data.dashboard) == 'running';else errorGraphPacketV13"
                      class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                    <ng-template #errorGraphPacketV13>
                      <i *ngIf="pipelineTooltip(i, packetV13Data.dashboard) == '';else statusGraphPacketV13"
                        class='fa fa-ban text-dark pipeline-status-icon'></i>
                      <ng-template #statusGraphPacketV13>
                        <i *ngIf="pipelineTooltip(i, packetV13Data.dashboard) == 'pending';else statusSuccessGraphPacketV13"
                          class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                        <ng-template #statusSuccessGraphPacketV13>
                          <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#ff0000" stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5">
                            </circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#009400" stroke-width="6"
                              [attr.stroke-dasharray]="getJobPercentFromPipeline(i, packetV13Data.dashboard)"
                              stroke-dashoffset="22.5"></circle>
                          </svg>
                        </ng-template>

                      </ng-template>
                    </ng-template>
                  </span>

                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, packetV14Data.dashboard) }}"
                    (click)="detailPannel(i, packetV14Data.dashboard, buildData.dashboard, 'packetv14');"
                    [ngClass]="{'highlight': (status == 2 && i==rowCount())}"
                    [ngStyle]="{'pointer-events': pipelineTooltip(i, packetV14Data.dashboard) === 'pending' ? 'none' : 'initial' }"
                    style="padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;cursor: pointer;">
                    <i *ngIf="pipelineTooltip(i, packetV14Data.dashboard) == 'running';else errorGraphPacketV14"
                      class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                    <ng-template #errorGraphPacketV14>
                      <i *ngIf="pipelineTooltip(i, packetV14Data.dashboard) == '';else statusGraphPacketV14"
                        class='fa fa-ban text-dark pipeline-status-icon'></i>
                      <ng-template #statusGraphPacketV14>
                        <i *ngIf="pipelineTooltip(i, packetV14Data.dashboard) == 'pending';else statusSuccessGraphPacketV14"
                          class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                        <ng-template #statusSuccessGraphPacketV14>
                          <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#ff0000" stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5">
                            </circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#009400" stroke-width="6"
                              [attr.stroke-dasharray]="getJobPercentFromPipeline(i, packetV14Data.dashboard)"
                              stroke-dashoffset="22.5"></circle>
                          </svg>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </span>

                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, packetV15Data.dashboard) }}"
                    (click)="detailPannel(i, packetV15Data.dashboard, buildData.dashboard, 'packetv15');"
                    [ngClass]="{'highlight': (status == 3 && i==rowCount())}"
                    [ngStyle]="{'pointer-events': pipelineTooltip(i, packetV15Data.dashboard) === 'pending' ? 'none' : 'initial' }"
                    style="padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;cursor: pointer;">
                    <i *ngIf="pipelineTooltip(i, packetV15Data.dashboard) == 'running';else errorGraphPacketV15"
                      class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                    <ng-template #errorGraphPacketV15>
                      <i *ngIf="pipelineTooltip(i, packetV15Data.dashboard) == '';else statusGraphPacketV15"
                        class='fa fa-ban text-dark pipeline-status-icon'></i>
                      <ng-template #statusGraphPacketV15>
                        <i *ngIf="pipelineTooltip(i, packetV15Data.dashboard) == 'pending';else statusSuccessGraphPacketV15"
                          class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                        <ng-template #statusSuccessGraphPacketV15>
                          <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#ff0000" stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5">
                            </circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#009400" stroke-width="6"
                              [attr.stroke-dasharray]="getJobPercentFromPipeline(i, packetV15Data.dashboard)"
                              stroke-dashoffset="22.5"></circle>
                          </svg>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </span>

                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, konvoyData.dashboard) }}"
                    (click)="detailPannel(i, konvoyData.dashboard, buildData.dashboard, 'konvoy');"
                    [ngClass]="{'highlight': (status == 4 && i==rowCount())}"
                    [ngStyle]="{'pointer-events': pipelineTooltip(i, konvoyData.dashboard) === 'pending' ? 'none' : 'initial' }"
                    style="padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;cursor: pointer;">
                    <i *ngIf="pipelineTooltip(i, konvoyData.dashboard) == 'running';else errorGraphkonvoy"
                      class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                    <ng-template #errorGraphkonvoy>
                      <i *ngIf="pipelineTooltip(i, konvoyData.dashboard) == '';else statusGraphkonvoy"
                        class='fa fa-ban text-dark pipeline-status-icon'></i>
                      <ng-template #statusGraphkonvoy>
                        <i *ngIf="pipelineTooltip(i, konvoyData.dashboard) == 'pending';else statusSuccessGraphkonvoy"
                          class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary pipeline-status-icon'></i>
                        <ng-template #statusSuccessGraphkonvoy>
                          <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#ff0000" stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5">
                            </circle>
                            <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                              stroke="#009400" stroke-width="6"
                              [attr.stroke-dasharray]="getJobPercentFromPipeline(i, konvoyData.dashboard)"
                              stroke-dashoffset="22.5"></circle>
                          </svg>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <app-lodding-spinners class="row" *ngIf="showSpinnerTable;"></app-lodding-spinners>
        </div>
      </div>
    </div>
  </div>
  <!-- table pannel End -->


  <!-- Detail pannel start -->
  <div class="col-sm-4 px-0">

    <!-- Pipeline details not present START -->
    <div class="detail container border " *ngIf="status == 'NA'; else DetailPipelinePanel">
      <app-lodding-spinners *ngIf="showSpinnerDetails; else hideDetailPanelNA"></app-lodding-spinners>
      <ng-template #hideDetailPanelNA>
        <div class="pt-5 text-center detail-na vertical-align-middle">
          <div class="">
            <img src="/assets/images/icons/connection_error.svg" alt="" height="120">
          </div>
          <div>
            <h1>Unable to fetch details of selected pipeline </h1>
          </div>
        </div>
      </ng-template>
    </div>
    <!-- Pipeline details not present END -->
    <ng-template #DetailPipelinePanel>
      <div class="detail container border">
        <app-lodding-spinners *ngIf="showSpinnerDetails; else hideDetailPanel"></app-lodding-spinners>
        <ng-template #hideDetailPanel>
          <div class="text-center">
            <img src="/assets/images/cloud/{{ image }}">
            <h5>{{ name }}</h5>
            <h6>Kubernetes {{ kubernetesVersion }}</h6>
            <button type="button" class="btn btn-outline-custom mr-1 mt-4" data-toggle="collapse"
              href="#gitlabStageToggle" role="button" aria-controls="gitlabStageToggle"><span
                class="status-button gitlab-stage-button">GITLAB STAGES</span></button>
            <button (click)="clickit(log_url)" type="button" class="btn btn-outline-custom ml-1 mt-4"><span
                class="status-button e2e-logs-button">E2E LOGS</span></button>
          </div>

          <div class="collapse" id="gitlabStageToggle">
            <hr>
            <table class="px-3 table table-borderless">
              <thead>
                <tr class="border-bottom-0">
                  <th class="p-0">
                    <p class="font-size-11 text-center pb-2">GITLAB
                      STAGES</p>
                    <hr class="mt-1 mb-1">
                  </th>
                  <th class="p-0">
                    <p class="font-size-11 text-left pb-2 w-100">STATUS</p>
                    <hr class="mt-1 mb-1">
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngIf="clusterSetupStatus.jobCount != 0" class="border-bottom-0">
                  <td class="p-0 vertical-align-middle">
                    <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">CLUSTER SETUP</h6>
                  </td>
                  <td class="gitlab_stage_build_status p-0"><span class="gitlab_stage_primary"
                      [ngClass]='gitlabStageBuildClass(clusterSetupStatus.status)'>{{ clusterSetupStatus.status }}</span>
                  </td>
                  <td class="drop-data p-0">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                      data-target="#collapseCSS" aria-expanded="false" aria-controls="collapseCSS">
                      <i class="fa fa-chevron-down font-size-13 arrow-color-blue"></i>
                    </button>
                  </td>
                </tr>
                <tr class="accordion" id="colCSS">
                  <td colspan="2" id="collapseCSS" class="collapse p-0" aria-labelledby="headingOne"
                    data-parent="#colCSS">
                    <div class="d-flex bd-highlight font-size-13 text-secondary">
                      <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Success : <span class="text-success ">{{ clusterSetupStatus.successJobCount }} </span>
                        </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed : <span class="text-danger ">{{  clusterSetupStatus.failedJobCount }}
                          </span></span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Skipped : <span class="text-info ">{{  clusterSetupStatus.skippedJobCount }}</span>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="border-top border-bottom-0" *ngIf="providerInfraSetup.jobCount != 0">

                  <td class="p-0 vertical-align-middle">
                    <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">PROVIDER INFRA SETUP</h6>
                  </td>
                  <td class="gitlab_stage_build_status p-0 "><span class="gitlab_stage_primary"
                      [ngClass]='gitlabStageBuildClass(providerInfraSetup.status)'>{{ providerInfraSetup.status }}</span>
                  </td>
                  <td class="drop-data p-0">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                      data-target="#collapsePIS" aria-expanded="false" aria-controls="collapsePIS">
                      <i class="fa fa-chevron-down font-size-13 arrow-color-blue"></i>
                    </button>
                  </td>
                </tr>
                <tr class="accordion   " id="colPIS">
                  <td colspan="2" id="collapsePIS" class="collapse p-0" aria-labelledby="headingOne"
                    data-parent="#colPIS">
                    <div class="d-flex bd-highlight text-secondary font-size-13">
                      <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Success : <span class="text-success ">{{ providerInfraSetup.successJobCount }} </span>
                        </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed : <span class="text-danger ">{{  providerInfraSetup.failedJobCount }}
                          </span></span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Skipped : <span class="text-info ">{{  providerInfraSetup.skippedJobCount }}</span>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>


                <tr class="border-top border-bottom-0" *ngIf="statefulAppDeploy.jobCount != 0">
                  <td class="p-0 vertical-align-middle">
                    <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">STATEFUL APP DEPLOY</h6>
                  </td>
                  <td class="gitlab_stage_build_status p-0"><span class="gitlab_stage_primary"
                      [ngClass]='gitlabStageBuildClass(statefulAppDeploy.status)'>{{ statefulAppDeploy.status }}</span>

                  </td>
                  <td class="drop-data p-0">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                      data-target="#collapseSAD" aria-expanded="false" aria-controls="collapseSAD">
                      <i class="fa fa-chevron-down font-size-13 arrow-color-blue"></i>
                    </button></td>
                </tr>

                <tr class="accordion    " id="colSAD">
                  <td colspan="2" id="collapseSAD" class="collapse p-0" aria-labelledby="headingOne"
                    data-parent="#colSAD">
                    <div class="d-flex bd-highlight font-size-13 text-secondary">
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Success : <span class="text-success ">{{ statefulAppDeploy.successJobCount }} </span>
                        </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed : <span class="text-danger ">{{  statefulAppDeploy.failedJobCount }}
                          </span></span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Skipped : <span class="text-info ">{{  statefulAppDeploy.skippedJobCount }}</span> </span>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="border-top border-bottom-0" *ngIf="appFunctionTest.jobCount != 0">
                  <td class="p-0 vertical-align-middle">
                    <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP FUNCTION TEST</h6>
                  </td>
                  <td class="gitlab_stage_build_status p-0"><span class="gitlab_stage_primary"
                      [ngClass]='gitlabStageBuildClass(appFunctionTest.status)'>{{ appFunctionTest.status }}</span></td>
                  <td class="drop-data p-0">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                      data-target="#collapseAFT" aria-expanded="false" aria-controls="collapseAFT">
                      <i class="fa fa-chevron-down font-size-13 arrow-color-blue"></i>
                    </button>
                  </td>
                </tr>
                <tr class="accordion    " id="colAFT">
                  <td colspan="2" id="collapseAFT" class="collapse p-0" aria-labelledby="headingOne"
                    data-parent="#colAFT">
                    <div class="d-flex bd-highlight font-size-13 text-secondary">
                      <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Success : <span class="text-success ">{{ appFunctionTest.successJobCount }} </span>
                        </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed : <span class="text-danger ">{{  appFunctionTest.failedJobCount }} </span></span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Skipped : <span class="text-info ">{{  appFunctionTest.skippedJobCount }}</span> </span>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="border-top border-bottom-0" *ngIf="appChaosTest.jobCount != 0">
                  <td class="p-0 vertical-align-middle">
                    <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP CHAOS TEST</h6>
                  </td>
                  <td class="gitlab_stage_build_status p-0 "><span class="gitlab_stage_primary"
                      [ngClass]='gitlabStageBuildClass(appChaosTest.status)'>{{ appChaosTest.status }}</span></td>
                  <td class="drop-data p-0">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                      data-target="#collapseACT" aria-expanded="false" aria-controls="collapseACT">
                      <i class="fa fa-chevron-down font-size-13 arrow-color-blue"></i>
                    </button>
                  </td>
                </tr>
                <tr class="accordion    " id="colACT">
                  <td colspan="2" id="collapseACT" class="collapse p-0" aria-labelledby="headingOne"
                    data-parent="#colACT">
                    <div class="d-flex bd-highlight p-0">
                      <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Success : <span class="text-success ">{{ appChaosTest.successJobCount }} </span> </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed : <span class="text-danger ">{{  appChaosTest.failedJobCount }} </span></span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Skipped : <span class="text-info ">{{  appChaosTest.skippedJobCount }}</span> </span>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="border-top border-bottom-0" *ngIf="appDeprovision.jobCount != 0 ">
                  <td class="p-0 vertical-align-middle">
                    <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP-DEPROVISION</h6>
                  </td>
                  <td class="gitlab_stage_build_status p-0 "><span class="gitlab_stage_primary"
                      [ngClass]='gitlabStageBuildClass(appDeprovision.status)'>{{ appDeprovision.status }}</span></td>
                  <td class="drop-data p-0">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                      data-target="#collapseAD" aria-expanded="false" aria-controls="collapseAD">
                      <i class="fa fa-chevron-down font-size-13 arrow-color-blue"></i>
                    </button>
                  </td>
                </tr>

                <tr class="accordion    " id="colAD">
                  <td colspan="2" id="collapseAD" class="collapse p-0" aria-labelledby="headingOne"
                    data-parent="#colAD">
                    <div class="d-flex bd-highlight p-0">
                      <div class=" px-2 py-1 flex-fill d-flex justify-content-center ">
                        <span>Success : <span class="text-success ">{{ appDeprovision.successJobCount }} </span> </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed : <span class="text-danger ">{{  appDeprovision.failedJobCount }} </span></span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Skipped : <span class="text-info ">{{  appDeprovision.skippedJobCount }}</span> </span>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="border-top border-bottom-0" *ngIf="clusterCleanup.jobCount != 0">
                  <td class="p-0 vertical-align-middle">
                    <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">CLUSTER CLEANUP</h6>
                  </td>
                  <td class="gitlab_stage_build_status p-0 "><span class="gitlab_stage_primary "
                      [ngClass]='gitlabStageBuildClass(clusterCleanup.status)'>{{ clusterCleanup.status }}</span></td>
                  <td class="drop-data p-0">
                    <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                      data-target="#collapseCCup" aria-expanded="false" aria-controls="collapseCCup">
                      <i class="fa fa-chevron-down font-size-13 arrow-color-blue"></i>
                    </button>
                  </td>
                </tr>
                <tr class="accordion    " id="colCCup">
                  <td colspan="2" id="collapseCCup" class="collapse p-0" aria-labelledby="headingOne"
                    data-parent="#colCCup">
                    <div class="d-flex bd-highlight p-0">
                      <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Success : <span class="text-success ">{{ clusterCleanup.successJobCount }} </span> </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed : <span class="text-danger ">{{  clusterCleanup.failedJobCount }} </span></span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span>Skipped : <span class="text-info ">{{  clusterCleanup.skippedJobCount }}</span> </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr>
          <div class="row">
            <div class="col-sm-12">
              <div>
                <div class="star-ratings-css">
                  <div class="star-ratings-css-top padding-left-8" [style.width]=rating>
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  <div class="star-ratings-css-bottom padding-left-8">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                </div>
                <p class="font-size-13 padding-top-8">RATING</p>
              </div>
            </div>
            <div class="col-sm-12 d-flex pt-2">
              <div class="w-25">
                <h5 class="text-dark font-size-15">{{ totalJobs }}</h5>
                <h6 class="font-size-13">TOTAL</h6>
              </div>
              <div class="w-25">
                <h5 class="text-primary font-size-15">{{ executedJobs }}</h5>
                <h6 class="font-size-13">EXECUTED</h6>
              </div>
              <div class="w-25">
                <h5 class="text-success font-size-15">{{ passedJobs }}</h5>
                <h6 class="font-size-13">PASSED</h6>
              </div>
              <div class="w-25">
                <h5 class="text-danger font-size-15">{{ failedJobs }}</h5>
                <h6 class="font-size-13">FAILED</h6>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h6><img height=55px; src="/assets/images/icons/pull-request.svg"></h6>
              <h6><a href="{{ pullRequest }}" target="_blank">Pull Request</a></h6>
            </div>
            <div class="col-sm-8">
              <h6 class="mt-2">{{ commitUser }}</h6>
              <h6 class="scrollbar font-size-15 height-50" id="scrollbar">{{ commitMessage }}</h6>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4 text-center">
              <a class="text-primary" target="_blank"
                href="https://github.com/openebs/e2e-infrastructure/blob/master/baseline/baseline">Baseline
                Images</a>
            </div>
            <div class="col-sm-8 text-center">
              <p>Container images used to run this pipeline</p>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-template>

  </div>
  <!-- detail pannel End -->
</div>
