.body {
    background-color: white;
    border-radius: 5px;
}

.detail {
    background-color: white;
    height: 885px;
    overflow-x: scroll;
    border-radius: 5px;
}

.details {
    padding: 25px;
}
ul .active {
    background-image: linear-gradient(#64C2E1, #348FC0);
    h3 {
        color: #d3d3d3;
    }
}
h1 {
    font-size: 1.2em;
    color: #54576B;
}
h2 {
    font-size: 0.9em;
    color: #949BB3;
}
h3 {
    font-size: 0.8em;
    text-align: left;
    padding-left: 20px;
    color: #949BB3;
}
h4 {
    font-size: 2.6em;
    text-align: left;
    padding-left: 20px;
    color: #3A3D54;
    font-weight: 10;
}
h5 {
    font-size: 1.2em;
    color: #54576B;
    display: block;
    text-align: center;
}
h6 {
    position:inherit;
    word-break: normal;
    font-size: 0.9em;
    color: #949BB3;
    text-align: center;
}

p {
    font-size: 15px;
    color: #949BB3;
    text-align: center;
    margin-bottom: 0;
}
tr {
    font-size: 0.9em;
    color: #54576B;
    border-bottom:1px solid #d3d3d3;
}
.btn-txt {
    padding: 0px;
    border-width: 0px;
  }
  
.btn-txt:hover {
    background-color: inherit;
    color: inherit;
}

.pointer {
    pointer-events: none;
}
.table {
    margin-top:10px;
    overflow: auto;
    max-height:630px;
}
.button {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.checked {
    color: orange;
}

img {
    padding: 15px;
}

// star rating
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 20px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    
    &-top {
      color: orange;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }

.btn-outline-custom:hover {
    color: #fff;
    background-image: linear-gradient(#1991EB, #2DA1F8);
    border-color: #1585D8;
}

.btn-outline-custom {
    color: #354052;
    background-color: transparent;
    background-image: none;
    border-color: #DFE3E9;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    color: inherit;
    background-color: white;
    border-color: #28a745;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
    color: inherit;
    background-color: white;
    border-color: #dc3545;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: inherit;
    background-color: white;
    border-color: #6c757d;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #007bff;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #ffc107;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: inherit;
  background-color: white;
  border-color: #343a40;
}

.gitlabButton {
    padding-left:15px;
    padding-right:15px; 
    font-weight: bold; 
    font-size:15px
}

.litmusButton {
    padding-left:25px; 
    padding-right:25px; 
    font-weight: bold; 
    font-size:15px
}

@media only screen and (max-width: 1500px) {
    .statusbutton {
        font-size: 13px !important; 
    }
    @media only screen and (max-width: 1400px) {
        .statusbutton {
            font-size: 11px !important; 
            padding-left:14px;
            padding-right:14px;
        }
    }
}

.btn-status-warning {
    color:  #ffb000;
    background-color: transparent;
    background-image: none;
    border-color:  #ffb000;
}

.custom-pointer {
    // cursor: not-allowed;
    pointer-events: none;
}

a:hover {
    text-decoration: none;
}

.fa {
    font-size: 17px;
}

// .row tbody tr.highlight td {
//     background-color: #F2F3F6;
//   }

  .highlight {
    background-color: #F2F3F6;
  }
  