<div class="row">
  <!-- table pannel start -->
  <div class="col-sm-8">
    <div class="body border">
      <div class="container">
        <div class="details">
          <h1>CI and E2E summary for commits</h1>
          <h2>Summary of build status and E2E pipeline status on OpenEBS repository</h2>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">
            <h3 style="color:white">BRANCH</h3>
            <h4>Master</h4>
            <h3 style="color:white">Builds in last one week: {{ masterBuildsCount(restItems.dashboard.build) }}</h3>
          </a>
        </li>
        <li style="pointer-events:none;" class="nav-item">
          <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">
            <h3>BRANCH</h3>
            <h4>v0.7</h4>
            <h3>Commits in last one week: _</h3>
          </a>
        </li>
        <!-- <li style="pointer-events:none; cursor:pointer;" class="nav-item">
        <a class="nav-link" href="#references" role="tab" data-toggle="tab">
          <h3>BRANCH</h3>
          <h4>v0.7.1</h4>
          <h3>Commit in last one week: _</h3>
        </a>
        </li> -->
      </ul>
        <!-- Tab panes -->
        <div class="table container tab-content">
          <div role="tabpanel" class="tab-pane active" id="profile">
            <table id=data style="min-width:800px;overflow-x:auto"  class="table table-borderless">
              <thead>
                <tr class="text-center">
                  <!-- <th>#</th> -->
                  <th>Trigger</th>
                  <!-- <th>Commit</th> -->
                  <!-- <th>Updated</th> -->
                  <th>Build</th>
                  <th style="text-align:center">E2E Pipelines</th>
                </tr>
                <tr class="text-center">
                    <!-- <td></td> -->
                    <td></td>
                    <!-- <td></td>
                    <td></td> -->
                    <td></td>
                    <td style="justify-content: center" class="d-flex text-center;">
                      <span class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/gke.svg"><p style="font-size: 13px;">GKE</p></span>
                      <span class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/aks.svg"><p style="font-size: 13px;">AKS</p></span>
                      <span class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/eks.svg"><p style="font-size: 13px;">EKS</p></span>
                      <span class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/packet.svg"><p style="font-size: 13px;">PACKET</p></span>
                      <span class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/gcp.svg"><p style="font-size: 13px;">GCP</p></span>
                      <span class="mx-4"><img style="padding:2px;" height="26px;" src="/assets/images/cloud/aws.svg"><p style="font-size: 13px;">AWS</p></span>
                      <!-- GKE | AKS | EKS | PACKET | GCP | AWS -->
                    </td>
                  </tr>
              </thead>
              <tbody *ngIf="undefined !== restItems">
                <tr class="text-center" *ngFor="let post of restItems.dashboard['pipelines'][0]; let i = index" [attr.data-index]="i">
                  <!-- <td>{{  i+1 }}</td> -->
                  <td>
                    <a style="cursor:pointer; color:#5C93E8" (click)="clickit(commitUrl(i,restItems.dashboard['build']))">{{ getCommitName(i,restItems.dashboard['build']) }}/{{ getCommit(i,restItems.dashboard['build']) |  slice:0:8 }}</a>
                    <p style="font-size: 12px;">commit: {{ updated(i,restItems.dashboard['build']) }} ago</p>
                  </td>

                  <!-- <td> -->
                    <!-- <a style="cursor:pointer; color:#5C93E8" (click)="clickit(commitUrl(i,restItems.dashboard['build']))">{{ getCommit(i,restItems.dashboard['build']) |  slice:0:8 }}</a> -->
                  <!-- </td>  -->

                  <!-- <td>{{ updated(i,restItems.dashboard['build']) }}</td> -->

                  <td>
                    <button placement="bottom" ngbTooltip="{{tooltipData(i, restItems.dashboard['build'])}}" (click)="clickit(buildWeburl(i, restItems.dashboard['build']));" [ngClass]="buttonStatusClass(buildStatus(i, restItems.dashboard['build']))">
                      <i style="font-size:13px" [ngClass]="iconClass(buildStatus(i, restItems.dashboard['build']))"></i>
                      <span style="margin-left:5px; font-size:15px">{{buildStatus(i, restItems.dashboard['build'])}}</span>
                    </button>
                  </td>
                  <td>
                    <span style="padding-left:31.9px; padding-right:31.9px;"><i (click)="detailPannel('GKE', i, restItems.dashboard);" style="cursor:pointer;" [ngClass]='gkestatus(i, restItems.dashboard)'></i></span>
                    <span style="padding-left:31.9px; padding-right:31.9px;"><i (click)="detailPannel('AKS', i, restItems.dashboard);" style="cursor:pointer;" [ngClass]='aksstatus(i, restItems.dashboard)'></i></span>
                    <span style="padding-left:31.9px; padding-right:31.9px;"><i (click)="detailPannel('EKS', i, restItems.dashboard);" style="cursor:pointer;" [ngClass]='eksstatus(i, restItems.dashboard)'></i></span>
                    <span style="padding-left:31.9px; padding-right:31.9px;"><i (click)="detailPannel('Packet', i, restItems.dashboard)" style="cursor:pointer;" [ngClass]='packetstatus(i, restItems.dashboard)'></i></span>
                    <span style="padding-left:31.9px; padding-right:31.9px;"><i (click)="detailPannel('GCP', i, restItems.dashboard);" style="cursor:pointer;" [ngClass]='gcpstatus(i, restItems.dashboard)'></i></span>
                    <span style="padding-left:31.9px; padding-right:31.9px;"><i (click)="detailPannel('AWS', i, restItems.dashboard);" style="cursor:pointer;" [ngClass]='awsstatus(i, restItems.dashboard)'></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="buzz">bbb</div>
          <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
        </div>
    </div>
  </div>
<!-- table pannel End -->


<!-- Detaile pannel start -->
  <div class="col-sm-4 px-0">
    <div class="detail container border">
        <div class="text-center">
        <img src="/assets/images/cloud/{{ image }}">
        <h5>{{ name }}</h5>
        <h6>Kubernetes 1.10.0</h6> 
          <button (click)="clickit(gitlab_url)" style="margin-right:4px; margin-top:20px;" type="button" class="btn btn-outline-custom"><span class="statusbutton gitlabButton">GITLAB STAGES</span></button>
          <button (click)="clickit(log_url)" style="margin-left:4px; margin-top:20px;" type="button" class="btn btn-outline-custom"><span class="statusbutton litmusButton">E2E LOGS</span></button>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <div style="padding-top:30px;">
                <div class="star-ratings-css">
                  <div style="padding-left:8px;" class="star-ratings-css-top" [style.width]=rating><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  <div style="padding-left:8px;" class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  <p style="font-size:13px; padding-top:8px;">SCORE</p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <h5 style="color:black;font-size:15px;">{{ totalJobs }}</h5>
            <h6 style="font-size:13px;">TOTAL</h6>
            <h5 style="color:green;font-size:15px;">{{ passedJobs }}</h5>
            <h6 style="font-size:13px;">PASSED</h6>
          </div>
          <div class="col-sm-4">
            <h5 style="color:blue;font-size:15px;">{{ executedJobs }}</h5>
            <h6 style="font-size:13px;">EXECUTED</h6>
            <h5 style="color:red;font-size:15px;">{{ failedJobs }}</h5>
            <h6 style="font-size:13px;">FAILED</h6>
          </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4">
              <h6><img height=55px; src="/assets/images/icons/pull-request.svg"></h6>
              <h6>Pull Request</h6>
            </div>
            <div class="col-sm-8">
              <!-- <h6>jiva/#1975 @username</h6> -->
              <h6 style="margin-top:10px;">{{ commitUser }}</h6>
              <h6 style="font-size:14px; height:50px; overflow-y:auto">{{ commitMessage }}</h6>
            </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-sm-6 text-center">
                  <a style=" cursor: pointer; color: #007bff" target="_blank" href="https://github.com/openebs/e2e-infrastructure/blob/master/e2e-infrastructureci">Baseline Images</a>
                <p style="margin-top:5px;" >Container images used to run this pipeline</p>
              </div>
              <div class="col-sm-6 text-center">
                <a style="cursor:pointer; color: #007bff" (click)=clickit(litmus)>Litmus tests</a>
                <p style="margin-top:5px;">Litmus tests run in this pipeline</p>
              </div>
            </div>
      </div>
      <!-- <br> -->
      <!-- <div class="detail">
          <div class="card">
              <div class="card-body">
                  <canvas id="chBar"></canvas>
              </div>
          </div>
        </div> -->
    </div>
    <!-- detail pannel End -->
  </div>