<div class="row">
  <!-- table pannel start -->
  <div class="col-sm-8">
    <div class="body border">
      <div class="container">
        <div class="details">
          <h1>CI and E2E summary for commits</h1>
          <h2>Summary of build status and E2E pipeline status on OpenEBS repository</h2>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active " href="#profile" role="tab" data-toggle="tab">
            <h3 style="color:white">BRANCH</h3>
            <h4 style="font-size: 2em">Master</h4>
            <h3 *ngIf="undefined !== restItems" style="color:white">Builds in last one week: {{
              masterBuildsCount(restItems.dashboard.build) }}
            </h3>
          </a>
        </li>
        <li style="pointer-events:none;" class="nav-item">
          <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">
          </a>
        </li>
        <li style="pointer-events:none; cursor:pointer;" class="nav-item">
          <a class="nav-link" href="#references" role="tab" data-toggle="tab">
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="table container tab-content scrollbar" id="scrollbar">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <table id="data" class="table table-borderless">
            <thead>
              <tr class="text-center">
                <th>Trigger</th>
                <th>Build</th>
                <th style="text-align:center">E2E Pipelines</th>
              </tr>
              <tr class="text-center">
                <td></td>
                <td></td>
                <td class="d-flex align-items-center justify-content-center" >
                  <span style="pointer-events: none;" class="mx-4"><img style="padding:2px;" height="32px;" src="/assets/images/cloud/gke.png">
                    <p style="font-size: 13px;">GKE</p>
                  </span>
                  <span style="pointer-events: none;" class="mx-4"><img style="padding:2px;" height="32px;" src="/assets/images/cloud/packet.png">
                    <p style="font-size: 13px;">PACKET</p>
                  </span>
                  <span style="pointer-events: none;" class="mx-4"><img style="padding:2px;" height="32px;" src="/assets/images/cloud/eks.png">
                    <p style="font-size: 13px;">EKS</p>
                  </span>
                  
                </td>
              </tr>
            </thead>           
            <tbody *ngIf="undefined !== restItems">
              <tr [ngClass]="{'row_color': i==rowCount()}" class="text-center" *ngFor="let post of restItems.dashboard['pipelines'][0]; let i = index"
                [attr.data-index]="i">
                <td>
                  <a style="cursor:pointer; color:#5C93E8" (click)="clickit(commitUrl(i,restItems.dashboard['build']))">{{
                    getCommitName(i,restItems.dashboard['build']) }}/{{ getCommit(i,restItems.dashboard['build']) |
                    slice:0:8 }}</a>
                  <p style="font-size: 12px;">commit: {{ updated(i,restItems.dashboard['build']) }} ago</p>
                </td>
                <td>
                  <button placement="bottom" ngbTooltip="{{buildTooltip(i, restItems.dashboard['build'])}}" (click)="clickit(buildWeburl(i, restItems.dashboard['build']));"
                    [ngClass]="buttonStatusClass(buildStatus(i, restItems.dashboard['build']))">
                    <i style="font-size:13px" [ngClass]="iconClass(buildStatus(i, restItems.dashboard['build']))"></i>
                    <a style="margin-left:5px; font-size:15px">{{buildStatus(i, restItems.dashboard['build'])}}</a>
                  </button>
                </td>
                <td class="d-flex justify-content-center">
                  <!-- GKE PIPELINES -->
                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, restItems.dashboard['pipelines'][0]) }}"
                    [ngClass]="{'highlight': (status == 1 && i==rowCount())}" (click)="detailPannel('GKE', i, restItems.dashboard);"
                    [ngStyle]="{'pointer-events': pipelineTooltip(i, restItems.dashboard['pipelines'][0]) === 'pending' ? 'none' : 'initial' }" style="cursor:pointer; padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;">
                    <i *ngIf="pipelineTooltip(i, restItems.dashboard['pipelines'][0]) == 'running';else donutGraphGke" style="font-size:19px;" class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary'></i>
                    <ng-template #donutGraphGke>
                      <i *ngIf="pipelineTooltip(i, restItems.dashboard['pipelines'][0]) == 'pending';else statusGraphGke" style="font-size:19px;" class='fa fa-clock-o btn btn-txt btn-outline-warning'></i>
                      <ng-template #statusGraphGke>
                        <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                          <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                          <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                            stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5"></circle>
                          <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#009400"
                            stroke-width="6" [attr.stroke-dasharray]="getJobPercentFromPipeline(i, restItems.dashboard, 'gke')"
                            stroke-dashoffset="22.5"></circle>
                        </svg>
                      </ng-template>
                    </ng-template>
                  </span>
                  <!-- Packet PIPELINES -->
                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, restItems.dashboard['pipelines'][1]) }}"
                    [ngClass]="{'highlight': (status == 2 && i==rowCount())}" (click)="detailPannel('PACKET', i, restItems.dashboard);"
                    [ngStyle]="{'pointer-events': pipelineTooltip(i, restItems.dashboard['pipelines'][1]) === 'pending' ? 'none' : 'initial' }" style="cursor:pointer; padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;">
                    <i *ngIf="pipelineTooltip(i, restItems.dashboard['pipelines'][1]) == 'running';else donutGraphPacket" style="font-size:19px;" class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary'></i>
                    <ng-template #donutGraphPacket>
                      <i *ngIf="pipelineTooltip(i, restItems.dashboard['pipelines'][1]) == 'pending';else statusGraphPacket" style="font-size:19px;" class='fa fa-clock-o btn btn-txt btn-outline-warning'></i>
                      <ng-template #statusGraphPacket>
                        <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                          <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                          <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                            stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5"></circle>
                          <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#009400"
                            stroke-width="6" [attr.stroke-dasharray]="getJobPercentFromPipeline(i, restItems.dashboard, 'packet')"
                            stroke-dashoffset="22.5"></circle>
                        </svg>
                  </ng-template> 
                  </ng-template> 
                  </span>
                  <!-- EKS PIPELINES -->
                  <span placement="bottom" ngbTooltip="{{ pipelineTooltip(i, restItems.dashboard['pipelines'][2]) }}"
                    [ngClass]="{'highlight': (status == 3 && i==rowCount())}" (click)="detailPannel('EKS', i, restItems.dashboard);"
                    [ngStyle]="{'pointer-events': pipelineTooltip(i, restItems.dashboard['pipelines'][2]) === 'pending' ? 'none' : 'initial' }" style="cursor:pointer; padding-bottom:10px;margin-left:31.9px; margin-right:31.9px;">
                    <i *ngIf="pipelineTooltip(i, restItems.dashboard['pipelines'][2]) == 'running';else donutGraphEks" style="font-size:19px;" class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary'></i>
                    <ng-template #donutGraphEks>
                    <i *ngIf="pipelineTooltip(i, restItems.dashboard['pipelines'][2]) == 'pending';else statusGraphEks" style="font-size:19px;" class='fa fa-clock-o btn btn-txt btn-outline-warning'></i>
                    <ng-template #statusGraphEks>
                    <svg width="20" height="20" viewBox="0 0 42 42" class="donut">
                      <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                      <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                        stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5"></circle>
                      <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#009400"
                        stroke-width="6" [attr.stroke-dasharray]="getJobPercentFromPipeline(i, restItems.dashboard, 'eks')"
                        stroke-dashoffset="22.5"></circle>
                    </svg>
                  </ng-template>  
                  </ng-template>
                  </span>
                 
                </td>
              </tr>
            </tbody>
          </table>
          <app-lodding-spinners class="row" *ngIf="showSpinnerTable;"></app-lodding-spinners>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="buzz">bbb</div>
      </div>
    </div>
  </div>
  <!-- table pannel End -->


  <!-- Detail pannel start -->
  <div class="col-sm-4 px-0">   
    <div class="detail container border">
        <app-lodding-spinners  *ngIf="showSpinnerDetails; else hideDetailPanel"></app-lodding-spinners>
        <ng-template #hideDetailPanel>
      <div class="text-center">
        <img src="/assets/images/cloud/{{ image }}">
        <h5>{{ name }}</h5>
        <h6>Kubernetes {{ kubernetesVersion }}</h6>
        <button  style="margin-right:4px; margin-top:20px;" type="button" class="btn btn-outline-custom" data-toggle="collapse" href="#gitlabStageToggle" role="button"  aria-controls="gitlabStageToggle"><span
            class="statusbutton gitlabButton">GITLAB STAGES</span></button>
        <button (click)="clickit(log_url)" style="margin-left:4px; margin-top:20px;" type="button" class="btn btn-outline-custom"><span
            class="statusbutton litmusButton">E2E LOGS</span></button>
      </div>

      <div class="collapse" id="gitlabStageToggle">
        <hr>
        <table class="px-3 table table-borderless">
          <thead>
            <tr style="border-bottom: none">
              <th style="padding: 0px;">
                <p style="font-size:11px; text-align: left;  padding-bottom:10px;">GITLAB
                  STAGES</p>
                  <hr style="margin-top: 5px;margin-bottom: 5px;">
              </th>
              <th style="padding: 0px;">
                <p style="font-size:11px; text-align: center;  padding-bottom:10px;width:100%">STATUS</p>
                <hr style="margin-top: 5px;margin-bottom: 5px;">
              </th>
            </tr>
          </thead>
         
          <tbody>
            <tr *ngIf="clusterSetupStatus.jobCount != 0" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">CLUSTER SETUP</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: all;"><span class="gitlab_stage_primary"
                  [ngClass]='gitlabStageBuildClass(clusterSetupStatus.status)'>{{ clusterSetupStatus.status }}</span>
              </td> 
              <td class="dropData" style="padding: 0;width: 13px;">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseCSS" aria-expanded="false" aria-controls="collapseCSS" style="padding: 0px;">
                    <i class="fa fa-chevron-down" style="font-size: 13px; color: #2399f1"></i>
                  </button> 
                </td>
            </tr>
            <tr class="accordion   " id="colCSS" >
                <td colspan="2" id="collapseCSS" class="collapse p-0" aria-labelledby="headingOne" data-parent="#colCSS">
                  <div class="d-flex bd-highlight" style="font-size: 13px;color: #7f8fa4">  
                    <div class=" px-2 py-1 flex-fill d-flex justify-content-center" >
                        <span>Success : <span class="text-success ">{{ clusterSetupStatus.successJobCount }} </span> </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed :  <span class="text-danger ">{{  clusterSetupStatus.failedJobCount }} </span></span> 
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span >Skipped : <span class="text-info ">{{  clusterSetupStatus.skippedJobCount }}</span> </span>
                      </div>
                     </div>
                </td>
              </tr>
            <tr class="border-top" *ngIf="providerInfraSetup.jobCount != 0" style="border-bottom: none">
               
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">PROVIDER INFRA SETUP</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: all;"><span class="gitlab_stage_primary"
                  [ngClass]='gitlabStageBuildClass(providerInfraSetup.status)'>{{ providerInfraSetup.status }}</span>
              </td>   
              <td class="dropData" style="padding: 0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePIS" aria-expanded="false" aria-controls="collapsePIS" style="padding: 0px;">
                  <i class="fa fa-chevron-down" style="font-size: 13px; color: #2399f1"></i>
                </button> 
              </td>
            </tr>
            <tr class="accordion   " id="colPIS"  >
              <td colspan="2" id="collapsePIS" class="collapse p-0" aria-labelledby="headingOne" data-parent="#colPIS">
                  <div class="d-flex bd-highlight" style="font-size: 13px;color: #7f8fa4">  
                    <div class=" px-2 py-1 flex-fill d-flex justify-content-center" >
                        <span>Success : <span class="text-success ">{{ providerInfraSetup.successJobCount }} </span> </span>
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span> Failed :  <span class="text-danger ">{{  providerInfraSetup.failedJobCount }} </span></span> 
                      </div>
                      <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                        <span >Skipped : <span class="text-info ">{{  providerInfraSetup.skippedJobCount }}</span> </span>
                      </div>
                     </div>
                </td>
              </tr>
             
 
            <tr class="border-top" *ngIf="statefulAppDeploy.jobCount != 0" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">STATEFUL APP DEPLOY</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                  [ngClass]='gitlabStageBuildClass(statefulAppDeploy.status)'>{{ statefulAppDeploy.status }}</span>
                  
                </td>
                <td class="dropData" style="padding: 0"> 
                  <button class="btn btn-link collapsed " type="button" data-toggle="collapse" data-target="#collapseSAD" aria-expanded="false" aria-controls="collapseSAD" style="padding: 0px;">
                    <i class="fa fa-chevron-down" style="font-size: 13px; color: #2399f1"></i>
                </button></td>
            </tr>
            
            <tr class="accordion    " id="colSAD" >
              <td colspan="2" id="collapseSAD" class="collapse p-0" aria-labelledby="headingOne" data-parent="#colSAD">
                    <div class="d-flex bd-highlight" style="font-size: 13px;color: #7f8fa4" >  
                        <div class="px-2 py-1 flex-fill d-flex justify-content-center" >
                            <span>Success : <span class="text-success ">{{ statefulAppDeploy.successJobCount }} </span> </span>
                          </div>
                          <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                            <span> Failed :  <span class="text-danger ">{{  statefulAppDeploy.failedJobCount }} </span></span> 
                          </div>
                          <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                            <span >Skipped : <span class="text-info ">{{  statefulAppDeploy.skippedJobCount }}</span> </span>
                          </div>
                         </div>
                        </td>
                </tr>
             
             <tr class="border-top" *ngIf="appFunctionTest.jobCount != 0" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP FUNCTION TEST</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                  [ngClass]='gitlabStageBuildClass(appFunctionTest.status)'>{{ appFunctionTest.status }}</span></td>
              <td class="dropData" style="padding: 0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAFT" aria-expanded="false" aria-controls="collapseAFT" style="padding: 0px;">
                  <i class="fa fa-chevron-down" style="font-size: 13px; color: #2399f1"></i>
                </button>
              </td>
            </tr>
            <tr class="accordion    " id="colAFT" >
              <td colspan="2" id="collapseAFT" class="collapse p-0" aria-labelledby="headingOne" data-parent="#colAFT">
                    <div class="d-flex bd-highlight" style="font-size: 13px;color: #7f8fa4">  
                        <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                            <span>Success : <span class="text-success ">{{ appFunctionTest.successJobCount }} </span> </span>
                          </div>
                          <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                            <span> Failed :  <span class="text-danger ">{{  appFunctionTest.failedJobCount }} </span></span> 
                          </div>
                          <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                            <span >Skipped : <span class="text-info ">{{  appFunctionTest.skippedJobCount }}</span> </span>
                          </div>
                         </div>
                        </td>
              </tr>
             
            <tr class="border-top" *ngIf="appChaosTest.jobCount != 0" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP CHAOS TEST</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                  [ngClass]='gitlabStageBuildClass(appChaosTest.status)'>{{ appChaosTest.status }}</span></td>
                  <td class="dropData" style="padding: 0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseACT" aria-expanded="false" aria-controls="collapseACT" style="padding: 0px;">
                      <i class="fa fa-chevron-down" style="font-size: 13px; color: #2399f1"></i>
                    </button>
                  </td>
                </tr>
                <tr class="accordion    " id="colACT" >
                  <td colspan="2" id="collapseACT" class="collapse p-0" aria-labelledby="headingOne" data-parent="#colACT">
                        <div class="d-flex bd-highlight" style="font-size: 13px;color: #7f8fa4">  
                            <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                                <span>Success : <span class="text-success ">{{ appChaosTest.successJobCount }} </span> </span>
                              </div>
                              <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                                <span> Failed :  <span class="text-danger ">{{  appChaosTest.failedJobCount }} </span></span> 
                              </div>
                              <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                                <span >Skipped : <span class="text-info ">{{  appChaosTest.skippedJobCount }}</span> </span>
                              </div>
                             </div>
                            </td>
                </tr>

            <tr class="border-top" *ngIf="appDeprovision.jobCount != 0 " style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">APP-DEPROVISION</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary"
                  [ngClass]='gitlabStageBuildClass(appDeprovision.status)'>{{ appDeprovision.status }}</span></td>
                  <td class="dropData" style="padding: 0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAD" aria-expanded="false" aria-controls="collapseAD" style="padding: 0px;">
                      <i class="fa fa-chevron-down" style="font-size: 13px; color: #2399f1"></i>
                    </button>
                  </td>
                </tr>
                
                <tr class="accordion    " id="colAD" >
                  <td colspan="2" id="collapseAD" class="collapse p-0" aria-labelledby="headingOne" data-parent="#colAD">
                        <div class="d-flex bd-highlight" style="font-size: 13px;color: #7f8fa4">  
                            <div class=" px-2 py-1 flex-fill d-flex justify-content-center ">
                                <span >Success : <span class="text-success ">{{ appDeprovision.successJobCount }} </span> </span>
                            </div>
                            <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                                <span> Failed :  <span class="text-danger ">{{  appDeprovision.failedJobCount }} </span></span> 
                            </div>
                            <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                                <span >Skipped : <span class="text-info ">{{  appDeprovision.skippedJobCount }}</span> </span>
                            </div>
                            </div>
                          </td>
                </tr>
                 
            <tr class="border-top" *ngIf="clusterCleanup.jobCount != 0" style="border-bottom: none">
              <td style="padding: 0px;vertical-align: middle;">
                <h6 (click)="clickit(gitlabPipelineUrl)" class="gitlab_stages">CLUSTER CLEANUP</h6>
              </td>
              <td class="gitlab_stage_build_status" style="padding: 0px; pointer-events: none;"><span class="gitlab_stage_primary "
                  [ngClass]='gitlabStageBuildClass(clusterCleanup.status)'>{{ clusterCleanup.status }}</span></td>
                  <td class="dropData" style="padding: 0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseCCup" aria-expanded="false" aria-controls="collapseCCup" style="padding: 0px;">
                        <i class="fa fa-chevron-down" style="font-size: 13px; color: #2399f1"></i>
                      </button> 
                    </td>
            </tr>
            <tr class="accordion    " id="colCCup" >
              <td colspan="2" id="collapseCCup" class="collapse p-0" aria-labelledby="headingOne" data-parent="#colCCup">
                    <div class="d-flex bd-highlight" style="font-size: 13px;color: #7f8fa4">  
                        <div class=" px-2 py-1 flex-fill d-flex justify-content-center">
                            <span>Success : <span class="text-success ">{{ clusterCleanup.successJobCount }} </span> </span>
                        </div>
                        <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                            <span> Failed :  <span class="text-danger ">{{  clusterCleanup.failedJobCount }} </span></span> 
                        </div>
                        <div class="px-2 py-1 flex-fill d-flex justify-content-center">
                            <span >Skipped : <span class="text-info ">{{  clusterCleanup.skippedJobCount }}</span> </span>
                        </div>
                        </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div>
            <div class="star-ratings-css">
              <div style="padding-left:8px;" class="star-ratings-css-top" [style.width]=rating><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <div style="padding-left:8px;" class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            </div>
            <p style="font-size:13px; padding-top:8px;">RATING</p>
          </div>
        </div>
        <div class="col-sm-12 d-flex" style="padding-top:10px;">
          <div class="w-25">
            <h5 style="color:black;font-size:15px;">{{ totalJobs }}</h5>
            <h6 style="font-size:13px;">TOTAL</h6>
          </div>
          <div class="w-25">
            <h5 style="color:blue;font-size:15px;">{{ executedJobs }}</h5>
            <h6 style="font-size:13px;">EXECUTED</h6>
          </div>
          <div class="w-25">
            <h5 style="color:green;font-size:15px;">{{ passedJobs }}</h5>
            <h6 style="font-size:13px;">PASSED</h6>
          </div>
          <div class="w-25">
            <h5 style="color:red;font-size:15px;">{{ failedJobs }}</h5>
            <h6 style="font-size:13px;">FAILED</h6>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <h6><img height=55px; src="/assets/images/icons/pull-request.svg"></h6>
          <h6><a href="{{ pullRequest }}" target="_blank">Pull Request</a></h6>
        </div>
        <div class="col-sm-8">
          <h6 style="margin-top:10px;">{{ commitUser }}</h6>
          <h6 class="scrollbar" id="scrollbar" style="font-size:14px; height:50px;">{{ commitMessage }}</h6>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4 text-center">
          <a style=" cursor: pointer; color: #007bff" target="_blank" href="https://github.com/openebs/e2e-infrastructure/blob/master/baseline/baseline">Baseline
            Images</a>
        </div>
        <div class="col-sm-8 text-center">
          <p>Container images used to run this pipeline</p>
        </div>
      </div>
    </ng-template>
    </div>
    
  </div>
  <!-- detail pannel End -->
</div>