<div class="container-fluid bg-white h-100">
  <div class="row">
    <div class="col-md-12 heading-row text-white py-2 mb-2">
      <h4>Heading Content</h4>
    </div>
  </div>
  <div class="row" *ngIf="pageLoaded">
    <div class="col-md-7 border">
      <table class="table">
        <thead>
          <th>Pipelie_ID</th>
          <th>Status</th>
          <th class="text-center">e2e-pipelines</th>
        </thead>
        <tbody>
          <tr *ngFor="let pipeline of openshiftRelease.dashboard">
            <td><a href={{pipeline.web_url}} target="_blank">{{pipeline.id}}</a></td>
            <td>{{pipeline.status}}</td>
            <td class="text-center">
              <a (click)="getJobDetails(pipeline)" ngbTooltip="{{ pipelineTooltip(pipeline)}}" placement="right">
                <svg width="25" height="25" viewBox="0 0 42 42" class="donut">
                  <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff">
                  </circle>
                  <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                    stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5">
                  </circle>
                  <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                    stroke="#009400" stroke-width="6" [attr.stroke-dasharray]="getJobPercentForPipeline(pipeline)"
                    stroke-dashoffset="22.5">
                  </circle>
                </svg>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5 shadow">
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="d-flex justify-content-around">
            <div class="text-center">
              <img src="/src/assets/images/cloud/openshift.png" alt="Openshift-logo" class="rounded-circle shadow"
                height="80px">
              <h5 class="my-auto">Openshift 4.2</h5>
            </div>
            <div>
              <ul>
                <li>
                  Id : {{activePipeline.id}}
                </li>
                <li>
                  status : {{activePipeline.status}}
                </li>
                <li>
                  version : {{activePipeline.version}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>



      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Jobs</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <!-- Overview Nav bar  -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div *ngIf="doNut">
            <canvas id="myChart" width="400" height="400"></canvas>
          </div>

        </div>

        <!-- Jobs Nav bar  -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row mt-1">
            <div class="col-md-12">
              <ul class="p-0">
                <li *ngFor="let stage of selectedPipeline">
                  <div class="badge badge-pill badge-light border py-1"><i [ngClass]=statusIcon(stage.status)></i> <span
                      class="font-size-16">
                      {{stage.stageName}}</span></div>
                  <div class="ml-3 py-3 stage-jobs-content">
                    <ul class="p-0">
                      <li *ngFor="let job of stage.allJobs"
                        class="font-size-14 job-row my-1 d-flex justify-content-between">
                        <div class="job-link-line-left"></div>
                        <div class="badge badge-pill border font-size-14 font-weight-normal job-name">{{job.name}}</div>
                        <div class="job-link-line-right"></div>
                        <div class="d-flex">
                          <div><i [ngClass]=statusIcon(job.status)></i></div>
                          <div class="job-link-line-right"></div>
                          <div> <a href="https://gitlab.openebs.ci/openebs/e2e-openshift/-/jobs/{{job.id}}"
                              target="_blank">
                              <img src="/src/assets/images/workload-logo/gitlab-notxt.svg" alt="gitlab-logo"
                                class="gitlab-job-image"></a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>