.heading-row {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
}
.red-gradient {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(219, 33, 46, 0.6) 100.2%
  );

  // background: linear-gradient(90deg, rgba(219,33,46,1) 5%, rgba(255,255,255,1) 78%);
}
.grey-gradient {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(49, 2, 112, 0.6) 100.2%
  );

  // background: linear-gradient(90deg, #310270 5%, rgba(255,255,255,1) 78%);
}
.highlight {
  border-bottom: 5px solid #654cf9;
}

.row_color {
  background-color: #ededed;
}

ul {
  list-style-type: none;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-25 {
  font-size: 25px;
}
.job-link-line-left {
  margin: 0;
  position: relative;
  top: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
  border-top-left-radius: 10px;
  flex: auto;
  height: 10px;
  max-width: 5px;
  white-space: nowrap;
}
.job-link-line-right {
  margin: 0;
  position: relative;
  top: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
  // border-top-left-radius: 10px;
  flex: auto;
  height: 10px;
  min-width: 10px;
  max-width: auto;
  white-space: nowrap;
}
.gitlab-job-image {
  position: relative;
  height: 25px;
  top: -3px;
}
.stage-jobs-content {
  border-left: 1px solid #dee2e6;
}
.stage-jobs-content:hover {
  border-color: #62b9f3;
}
.job-name a{
  color: black !important;
}
.job-row:hover {
  .job-name a {
    color: #007bff !important;
  }
  .job-link-line-right {
    border-top-color: #62b9f3;
  }
  .job-link-line-left {
    border-top-color: #62b9f3;
  }
  i {
    text-shadow: 1px 1px 60px;
    font-weight: 900;
  }
  img {
    box-shadow: 0px 250px 15px -35px rgba(0, 0, 0, 0.25);
  }
}

.btn-outline-custom:hover {
  color: #fff;
  background-image: linear-gradient(#1991eb, #2da1f8);
  border-color: #1585d8;
}

.btn-outline-custom {
  color: #354052;
  background-color: transparent;
  background-image: none;
  border-color: #dfe3e9;
}
.table-pipelines-section {
  height: 80vh;
  overflow-y: auto;
}
.jobs-content-section {
  height: 53vh;
  overflow-y: auto;
}
.cursor-pointer{
  cursor: pointer;
}

.table{
  table-layout: auto;
}
