<div class="container-fluid bg-white h-100">
  <div class="row">
    <div class="col-md-12 text-white py-2 mb-2"
      [ngClass]="currentPlatform == 'openshift' ? 'red-gradient': 'grey-gradient'">
      <div class="row">
        <div class="col-md-8">
          <h4>CI/E2E Summary of OpenEBS Release Pipelines</h4>
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-center">
            <!-- Disable Overview page button bcoz content need to update required -->
            <!-- <span class=" btn rounded border px-2 py-1" routerLink="/overview"><i
                class="fas fa-book font-size-18"></i></span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-5"></div> -->
    <div class="col-md-7">
      <div class="d-flex justify-content-center mb-2">
        <div class="d-flex justify-content-between select-platform text-dark">
          <div class="flex rounded bg-white border">
            <div class="btn" [ngClass]="currentPlatform == 'openshift' ? 'btn-primary':'btn-disabled'"
              (click)="checkoutPlatform('openshift')"><img src="/assets/images/cloud/openshift.png" alt="Platform-logo"
                class="rounded-circle " height="30px"><span class="mx-2">Openshift</span>
            </div>
            <div class="btn border-left border-right" [ngClass]="currentPlatform == 'konvoy' ? 'btn-primary' : 'btn-disabled'"
              (click)="checkoutPlatform('konvoy')"><img src="/assets/images/cloud/konvoy.png" alt="Platform-logo"
                class="rounded-circle " height="30px"><span class="mx-2">Konvoy</span>
            </div>
            <div class="btn" [ngClass]="currentPlatform == 'nativek8s' ? 'btn-primary' : 'btn-disabled'"
              (click)="checkoutPlatform('nativek8s')"><img src="/assets/images/cloud/nativek8s.svg" alt="Platform-logo"
              class="rounded-circle  bg-white" height="30px"><span class="mx-2">K8s</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf='openshiftRelease;else loadingSpinner'>
    <div class="col-md-7 table-pipelines-section">
      <table class="table" id="data">
        <thead>
          <th>Pipeline_ID</th>
          <th>Release_version</th>
          <th class="text-center">{{getPlatformName(currentPlatform)}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let pipeline of openshiftRelease; let i = index"
            [ngClass]="{'row_color': i==rowCount()}" [attr.data-index]="i">
            <td><a href={{pipeline.web_url}} target="_blank">{{pipeline.id}}</a></td>
            <td>{{pipeline.release_tag}}</td>
            <td class="text-center cursor-pointer">
              <span [ngClass]="{'highlight': (status == 1 && i==rowCount())}" (click)="getJobDetails(pipeline,i)"
                ngbTooltip="{{ pipelineTooltip(pipeline)}}" placement="right" class="pb-2">
                <i *ngIf="pipelineTooltip(pipeline) == 'running';else donutSuccessFail"
                  class='fa fa-circle-o-notch btn-txt fa-spin btn-outline-primary font-size-25'></i>
                <ng-template #donutSuccessFail>
                  <svg width="25" height="25" viewBox="0 0 42 42" class="donut">
                    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff">
                    </circle>
                    <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ff0000"
                      stroke-width="6" stroke-dasharray="95 5" stroke-dashoffset="22.5">
                    </circle>
                    <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
                      stroke="#009400" stroke-width="6" [attr.stroke-dasharray]="getJobPercentForPipeline(pipeline)"
                      stroke-dashoffset="22.5">
                    </circle>
                  </svg>
                </ng-template>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5 shadow border-top">
      <div *ngIf="detailPannelReady">
        <div class="row my-2">
          <div class="col-md-12">
            <div class="d-flex justify-content-around">
              <div class="text-center">
                <img src="/assets/images/cloud/{{currentPlatform}}.png" alt="Platform-logo"
                  class="rounded-circle shadow" height="80px" style="margin-top: -3rem;">
                <h5 class="my-2">{{getPlatformName(currentPlatform)}}</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- Overview Nav bar  -->
        <div class="d-flex justify-content-around mt-2">
          <div>
            <span class="font-weight-bold">Pipeline <a href={{activePipeline.webURL}} target="_blank"
                class="border border-primary rounded p-1"> #{{activePipeline.id}}</a> </span><span> triggered
              {{activePipeline.triggered}} .</span>
          </div>
          <div>
            <div class="rounded border p-1"> <i [ngClass]=statusIcon(activePipeline.status)></i>
              {{activePipeline.status}}</div>
          </div>
        </div>
        <hr>
        <div class="d-flex ">
          <div>
            <span class="d-block"><span class="font-weight-bold">Started_At : </span>
              <span>{{activePipeline.startedAt}}</span>
            </span>
            <span class="d-block"><span class="font-weight-bold">Finished_At : </span> <i
                *ngIf="activePipeline.status == 'running'"
                [ngClass]=statusIcon(activePipeline.status)></i><span>{{activePipeline.finishedAt}}</span>
            </span>
          </div>
          <!-- <div>
            <button (click)="urlOpenNewTab(activePipeline.logURL)" type="button"
              class="btn btn-outline-custom m-1 shadow-sm">
              <span class="text-center">
                <img src="/assets/images/company-logos/logo.png" alt="" class="rounded-circle border p-1 " height="30">
              </span>
              <span class="mx-2">E2E LOGS</span>
            </button>
          </div> -->
        </div>
        <hr>
        <div class="row mt-1 jobs-content-section">
          <div class="col-md-12">
            <ul class="p-0">
              <li *ngFor="let stage of selectedPipeline">
                <div class="badge badge-pill badge-light border py-1"><i [ngClass]=statusIcon(stage.status)></i>
                  <span class="font-size-16">
                    <span class="font-weight-bold">Stage:</span> {{stage.stageName}}</span></div>
                <div class="ml-3 py-3 stage-jobs-content">
                  <ul class="p-0">
                    <li *ngFor="let job of stage.allJobs"
                      class="font-size-14 job-row my-1 d-flex justify-content-between">
                      <div class="job-link-line-left"></div>
                      <div class="badge badge-pill border font-size-14 font-weight-normal job-name">
                        <a target="_blank" *ngIf="job.github_readme !== 'NA';else githubReadmeNA"
                          href={{job.github_readme}}>{{job.name}}</a>
                        <ng-template #githubReadmeNA>
                          {{job.name}}
                        </ng-template>
                      </div>
                      <div class="job-link-line-right"></div>
                      <div class="d-flex">
                        <div ngbTooltip="{{job.status}}" placement="left"><i [ngClass]=statusIcon(job.status)></i>
                        </div>
                        <div class="job-link-line-right"></div>
                        <div> <a href="https://gitlab.openebs.ci/openebs/e2e-{{currentPlatform}}/-/jobs/{{job.id}}"
                            target="_blank">
                            <img src="/assets/images/workload-logo/gitlab-notxt.svg" alt="gitlab-logo"
                              class="gitlab-job-image"></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingSpinner>
    <app-lodding-spinners class="row"></app-lodding-spinners>
  </ng-template>
</div>