.font-size-30{
    font-size: 30px;
}

.font-size-25{
    font-size: 25px;
}
::ng-deep .tooltip-inner{
    /* background-color: red; */
    font-size: 13px;

}

::ng-deep .arrow::before {
    border-top-color: darkgreen;
  }

.doughnut-size{
    height: 30px;
}