<div class="rounded border px-2 py-2 bg-white my-3">
  <h5 class="card-title ml-1 m-0 p-0 my-1">Overview</h5>
</div>

<div class="wrapper bg-white h-100 rounded" style="overflow-y: auto;">
  <div class="p-0 m-0 d-flex flex-column">
    <div *ngIf="recentData else loading" class="border rounded recent-pipelines-container">
      <table class="table table-borderless table-sm px-2 table-layout mx-1">
        <thead>
          <tr>
            <th scope="col">{{'ROUTE.RECENT.TABLE.HEADER.COL-1' | translate}}</th>
            <th scope="col">{{'ROUTE.RECENT.TABLE.HEADER.COL-2' | translate}}</th>
            <th scope="col">{{'ROUTE.RECENT.TABLE.HEADER.COL-3' | translate}}</th>
            <th scope="col">{{'ROUTE.RECENT.TABLE.HEADER.COL-4' | translate}}</th>
            <th scope="col">{{'ROUTE.RECENT.TABLE.HEADER.COL-5' | translate}}</th>
          </tr>
        </thead>
      </table>
      <div *ngFor="let recent of recentData.recent">
        <div class="border w-100 my-3 rounded px-2 mx-1">
          <div class="engine-title">{{getBranchName(recent.branch)}}</div>
          <div class="d-flex flex-column">
            <div>
              <table class="table table-borderless table-sm table-layout">
                <tbody>
                  <tr *ngFor="let P of recent.pipelines">
                    <td class="platform-icon">
                      <div class="d-flex">
                        <div><img src="{{getImage(P.pipeline.project)}}" height="25px" alt="platform-icon"
                            class="rounded-circle border"></div>
                        <div class="my-auto ml-1 btn btn-link btn-sm text-secondary"
                          (click)="gotoEnginePage(P.pipeline.project,recent.branch)">{{getName(P.pipeline.project)}}
                        </div>
                      </div>
                    </td>
                    <td><a type="button" class="btn btn-link btn-sm"
                        routerLink="{{genDetailRouteLink(P.pipeline.id,P.pipeline.project,recent.branch)}}">{{P.pipeline.id}}</a>
                    </td>
                    <td>{{timeConverter(P.pipeline.created_at)}}</td>
                    <td>
                      <div class="text-size-16 release-tag">{{P.pipeline.release_tag}}</div>
                    </td>
                    <td>
                      <app-doughnut-graph [pipeline]="P.pipeline"></app-doughnut-graph>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<ng-template #loading>
  <div class="text-center mx-auto">
    <app-lodding-spinners></app-lodding-spinners>
  </div>
</ng-template>