p{
    font-size: 14px;
}
.display{
    display: inline-block;
    float: right;
}
.hide{
    display: none;
}
.btn-outline-custom:hover {
    color: #fff;
    background-image: linear-gradient(#1991EB, #2DA1F8);
    border-color: #1585D8;
}

.btn-outline-custom {
    color: #354052;
    background-color: transparent;
    background-image: none;
    border-color: #DFE3E9;
}