<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row bg-white my-2" style="padding-top:37px;padding-bottom:37px;">
        <div class="col-md-6" style="margin:0 auto">
          <div class="d-flex align-items-end mt-4" style="margin-bottom:2.5rem">
            <img src="/assets/images/workloads-logos/{{workloadName}}.svg" alt="" style="height:60px">
            <div class="ml-2">
              <p class="mb-0" style="font-size:18px;color:#354052"> {{workloadImage}} </p>
              <p class="mb-0" style="font-size:14px;color:#354052">{{applicationType}}- {{numberstatefullSets}}
                Replica-
                {{numberstatefullSets}} Zones- {{numberstatefullSets}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-between my-2 text-center">
            <p class="pl-2 text-center" [ngClass]="{
              'w-100':dashboardurl === ''
            }"> <a href="{{workloadyaml}}"
                style="color:#269BF3"> Depolyment yaml </a></p>
            <p class="pr-2 text-center" [ngClass]="{
              'display':dashboardurl !== '',
              'hide':dashboardurl === ''
            }"><a
                href="{{workloadyaml}}" style="color:#269BF3">Live Access</a></p>
          </div>
        </div>
        <div class="col-md-12">
          <hr>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column align-items-center">
              <div class="d-flex align-items-center mb-3">
                <img src="/assets/images/company-logos/k8slogo.svg" alt="" style="height:21px">
                <p class="mb-0" style="font-size:14px;color:#354052"> &nbsp;&nbsp;1.10.11</p>
              </div>
              <p class=" mb-0" style="font-size:14px;color:#354052">Namespace: {{namespace}}</p>
            </div>
            <div class="d-flex flex-column align-items-center">
              <div class="d-flex align-items-center mb-3 ml-4">
                <img src="/assets/images/company-logos/openebs-logo-mule.svg" alt="" style="height:21px">
                <p class="mb-0" style="font-size:14px;color:#354052"> &nbsp;&nbsp; {{openebsEngine | titlecase}} 0.7</p>
              </div>
              <p class="ml-4 mb-0" style="font-size:14px;color:#354052">Controller- {{numberController}} Replicas-
                {{numberController}}
                Zones- {{numberController}}</p>
            </div>

          </div>
          <hr>
        </div>
      </div>

      <div class="row bg-white my-2">
        <div class="col-md-12 d-flex justify-content-around workloads my-5">
          <div class="workload-deatils mx-2" style="width:33%;color: #7F8FA4" *ngFor="let pvc of pvcarray">
            <div *ngFor="let statefulset of statefullSets">
              <p *ngIf="statefulset.pvc === pvc.name ">
                <img src="/assets/images/workloads-logos/{{workloadName}}.svg" height="28" alt=""><span placement="bottom"
                  ngbTooltip="{{statefulset.nodeName}}">
                  {{workloadName}}</span> on <span placement="bottom" ngbTooltip="{{statefulset.nodeName}}">{{statefulset.node}}</span>
                <img style="height:15px;margin-left:0.5rem" [ngClass]="{
                'display':statefulset.status === 'Running',
                'hide':statefulset.status !== 'Running'
              }"
                  src="/assets/images/icons/success.svg" alt="">
                <img [ngClass]="{
                'display':statefulset.status !== 'Running',
                'hide':statefulset.status === 'Running'
              }"
                  src="/assets/images/icons/error.png" alt="" style="height:15px;margin-left:0.5rem">
              </p>
            </div>
            <div *ngFor="let jivaContrller of jivaContrllers;let i = index">
              <p *ngIf="jivaContrller.pvc === pvc.name">
                <img src="/assets/images/company-logos/mule-without-tagline.png" height="28" alt="" style="margin-right:10px"><span
                  placement="bottom" ngbTooltip="{{jivaContrller.name}}">target</span> on <span placement="bottom"
                  ngbTooltip="{{jivaContrller.nodeName}}">{{jivaContrller.node}}</span>
                <img style="height:15px;margin-left:0.5rem" [ngClass]="{
              'display':jivaContrller.status === 'Running',
              'hide':jivaContrller.status !== 'Running'
            }"
                  src="/assets/images/icons/success.svg" alt="">
                <img [ngClass]="{
              'display':jivaContrller.status !== 'Running',
              'hide':jivaContrller.status === 'Running'
            }"
                  src="/assets/images/icons/error.png" alt="" style="height:15px;margin-left:0.5rem">
              </p>
            </div>
            <div *ngFor="let jivaReplica of jivaReplicas; let j = index">
              <p *ngIf="jivaReplica.pvc === pvc.name">
                <img src="assets/images/company-logos/mule-without-tagline.png" height="28" alt="" style="margin-right:10px"><span
                  placement="bottom" ngbTooltip="{{jivaReplica.name}}">Replica</span>-{{j}} on <span placement="bottom"
                  ngbTooltip="{{jivaReplica.nodeName}}">{{jivaReplica.node}}</span>
                <img style="height:15px;margin-left:0.5rem" [ngClass]="{
                'display':jivaReplica.status === 'Running',
                'hide':jivaReplica.status !== 'Running'
              }"
                  src="/assets/images/icons/success.svg" alt="">
                <img [ngClass]="{
                'display':jivaReplica.status !== 'Running',
                'hide':jivaReplica.status === 'Running'
              }"
                  src="/assets/images/icons/error.png" alt="" style="height:15px;margin-left:0.5rem">
              </p>
            </div>
          </div>
          <hr>
        </div>

        <div class="col-md-12 ">
          <p class="mb-0 p-2 bg-white pr-0" style="font-size:18px">Load Generation</p>
          <div class="d-flex align-items-end justify-content-between p-2 bg-white">
            <div class="d-flex align-items-end justify-content-between" style="width:60%;color:#354052">
              <p class="mb-0" placement="bottom" ngbTooltip="Generate random write operation on {{workloadName}} application">Write
                Operations</p> <button class="btn btn-pill btn-secondary action-button btn-sm btn-outline-custom" style="width:50px;"
                (click)="save()">Go</button>
            </div>
            <div class="btn btn-pill status-button" *ngIf="writeStatus" placement="bottom" [ngClass]="{
                'btn-success':poststatus===200,
                'btn-danger':poststatus===500
              }">{{poststatus}}
            </div>
          </div>
          <div class="d-flex align-items-end justify-content-between p-2 bg-white">
            <div class="d-flex align-items-end justify-content-between" style="width:60%;color:#354052">
              <p class="mb-0" placement="bottom" ngbTooltip="Perform read operation on {{workloadName}} application">Read
                Operations</p> <button class="btn btn-pill btn-secondary action-button btn-sm btn-outline-custom" style="width:50px;"
                (click)="read()">Go</button>
            </div>
            <div class="btn btn-pill status-button" *ngIf="readStatus" placement="bottom" [ngClass]="{
                'btn-success':getstatus===200,
                'btn-danger':getstatus===500
              }">{{getstatus}}
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-white">
        <div class="col-md-12 ">
          <div class=" p-2 configuration-header ">
            <div class="d-flex justify-content-between ">
              <div>Query command mayactl volumes list -n {{namespace}}</div> <button class="btn btn-secondary btn-sm float-right btn-outline-custom"
                (click)="listVolume() " >Execute</button>
            </div>

          </div>

          <div class=" my-2 ">
            <div class="py-1 ">
              <div class=" py-1 ">
                <table style="font-size:14px;color:#7F8FA4" class="table " *ngFor="let volume of jivas ">
                  <tr>
                    <td style="padding:0;border:none">Volume Name:</td>
                    <td style="padding:0;border:none">{{volume.name}}</td>
                  </tr>
                  <tr>
                    <td style="padding:0;border:none">Status:</td>
                    <td style="padding:0;border:none">{{volume.status}}</td>
                  </tr>
                  <tr>
                    <td style="padding:0;border:none">Replica Count:</td>
                    <td style="padding:0;border:none">{{volume.replicas}}</td>
                  </tr>
                  <tr>
                    <td style="padding:0;border:none">Capacity:</td>
                    <td style="padding:0;border:none">{{volume.size}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- <div class="row my-2">
      <div class="col-md-12">
        <img src="/assets/images/company-logos/litmuslogo.svg" alt="">
        <p>Run the live chaos test</p>
      </div>
      </div> -->
      <div class="row my-2 ">
        <div class="col-md-12 pr-0">
          <div class="bg-white text-center" style="padding-top:9rem;padding-bottom: 7rem">
            <img src="/assets/images/company-logos/litmuslogo.svg" alt="">
            <p class="mb-0" style="font-size:18px">Run the live chaos test</p>
          </div>
          <hr class="bg-white my-0" style="width: 80%">
        </div>
        <div class="col-md-12 pr-0">
          <table class="table action-table bg-white pt-1 mb-0">
            <tbody>
              <tr>
                <td class="p-2 pr-0" style="padding:0.10px;border-top:none;font-size: 14px"> Choose one of the test
                  below </td>
              </tr>
              <tr>
                <td style="border-top:none">
                  <div class="row justify-content-around">
                    <div style="width:70%">
                      <select class="custom-select" id="induceChaos" (change)="onChaosSelect($event.target.value)"
                        style="width:100%">
                        <option selected value="">Select Chaos..</option>
                        <option *ngFor="let chaosTest of chaosTests;" value="{{chaosTest}} "> {{chaosTest}}
                        </option>
                      </select>
                    </div>
                    <div>
                      <button class="btn btn-pill btn-secondary action-button btn-sm btn-outline-custom" style="width:50px;"
                        (click)="runChaosTest(selectedChaos, selectedApplication) ">
                        Go </button>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="border-top:none">
                  <div class="row justify-content-around">
                    <div style="width:70%">
                      <select class="custom-select hide-custom" id="application" (change)="onAppSelect($event.target.value)">
                        <option selected value="">Select Application..</option>
                        <option *ngFor="let statefulset of litmuspod" value="{{statefulset.pvc}} ">
                          {{statefulset.name}}
                        </option>
                      </select>
                    </div>
                    <div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 pr-0">
          <div class="bg-white p-2">
            <div style="background-color:#F2F4F6;border-radius: 0.4rem;padding: 1rem;">
              <p style="font-size:18px"> Running litmus test</p>
              <p *ngIf="runnigPos.length == 0;else runnig">
                no litmus test is running
              </p>
              <ng-template #runnig>
                <div *ngFor="let run of runnigPos " style="display:flex;font-size: 14px;justify-content: space-between">
                  <p style=" width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;"
                    placement="bottom" ngbTooltip="{{run.name}}">
                    {{run.name}} </p>
                  <p style="font-size:14px"> {{run.status}}</p>
                </div>
              </ng-template>
              <p style="font-size:18px"> All litmus test</p>
              <p *ngIf="completes.length==0;else comp">
                no litmus test is done yet
              </p>
              <ng-template #comp>
                <div *ngFor="let complete of completes " style="display:flex;font-size: 14px;justify-content: space-between">
                  <p style=" width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;font-size: 14px"
                    placement="bottom" ngbTooltip="{{complete.name}}">
                    {{complete.name}} </p>
                  <p style="font-size:14px"> {{complete.status}} </p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>