<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row d-flex justify-content-between bg-white my-2 rounded shadow-sm" >
          <div class="d-flex flex-column my-3 mx-2 "  >
            <img src="/assets/images/workload-logo/{{workloadName}}.svg" alt="" height="40" class="mb-2">
            <div class="ml-2">
              <p class="mb-0 fo-sz-12 text-dark">{{applicationType}} 
                Replica
                {{numberstatefullSets}} Zones {{numberstatefullSets}}</p>
            </div>
          
          <div class="d-flex">
            <p class="pl-2" [ngClass]="{
              'w-100':dashboardurl === ''
            }"> <a href="{{workloadyaml}}" class="text-info fo-sz-12" target="_blank"> Deployment yaml </a></p>
            <p class="pr-2 " [ngClass]="{
              'display':dashboardurl !== '',
              'hide':dashboardurl === ''
            }"><a class="pl-2 text-info"
                href="{{dashboardurl}}" target="_blank">Live Access</a></p>
            </div>
        </div>
        <div class="d-flex flex-column my-auto VLine ">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-3">
                <img src="/assets/images/company-logos/k8slogo.svg" alt="" height="30">
                <p class="mb-0 fo-sz-12 text-dark"> &nbsp;&nbsp;1.10.7</p>
              </div>
              <p class=" mb-0 fo-sz-12 text-dark">Namespace: {{namespace}} </p>
              <p class=" mb-0 fo-sz-12 workloadImg">Image: {{workloadImage}}</p>
            </div>
          </div>
        </div>
      <div class="d-flex flex-column my-auto pr-4">
          <div class="d-flex flex-column ">
            <div class="d-flex align-items-center mb-3 ml-4">
              <img src="/assets/images/company-logos/openebs-logo-mule.svg" alt="" height="30">
              <p class="mb-0 fo-sz-12 text-dark"> &nbsp;&nbsp; {{openebsengine}} -0.8.1</p>
            </div>
            <p class="ml-4 mb-0 fo-sz-12 text-dark" >Controller {{numberController}} &nbsp;&nbsp;Replicas
              {{numberReplica}}&nbsp;&nbsp;
              Zones <span>{{numberNode.size}}</span> </p>
              <p class="ml-4 mb-0 fo-sz-12 text-dark" *ngIf="workloadName == 'wordpress'">NFS Controller -1 </p>
          </div>
        </div>
      </div>

    <app-lodding-spinners class=" row spinners" *ngIf="showSpinner; else hideSipnner"></app-lodding-spinners>
    <ng-template #hideSipnner> 
    <div *ngIf="statefullSets.length == 0; else deployPersent" class="row bg-white my-2">
        <div class="text-center mx-auto">
            <img src="/assets/images/company-logos/mule-without-tagline.png" height="70" alt="" class="mt-4">
            <p class="py-4"> <Span class="font-weight-bold">{{workloadName | titlecase}}</Span> is currently not deployed in the cluster</p>
        </div> 
    </div>
    <ng-template #deployPersent>
          <div class="row bg-white my-2 rounded shadow-sm">
            <div class="col-8 pt-2"><p class="fo-sz-15 text-dark" >Status</p></div>
            <div class="col-4 pt-2 d-flex bd-highlight">
              <div class=" bd-highlight"> <img src="/assets/images/icons/active.png" alt="" height="13" class="pr-1">Active</div>
              <div class="bd-highlight pl-2">  <img src="/assets/images/icons/inactive.png" alt="" height= "13"> InActive</div>
            </div>
            <br>
            <div class="col-md-12 d-flex justify-content-around workloads my-3">          
              <div class="workload-deatils mx-2 divideLine text-secondary w-33"  *ngFor="let pvc of pvcarray">
                  <img src="/assets/images/workloads-logos/{{workloadName}}.png" height="30" alt="">
                <div *ngFor="let statefulset of statefullSets">
                  <p *ngIf="statefulset.pvc === pvc.name ">
                    <span placement="bottom"
                      ngbTooltip="{{statefulset.name}}">
                      {{workloadName}}</span> on <span placement="bottom" ngbTooltip="{{statefulset.nodeName}}">{{statefulset.node}}</span>
                    <img height="13" [ngClass]="{
                    'display':statefulset.status === 'Running',
                    'hide':statefulset.status !== 'Running'
                  }"
                      src="/assets/images/icons/active.png" alt="">
                    <img [ngClass]="{
                    'display':statefulset.status !== 'Running',
                    'hide':statefulset.status === 'Running'
                  }"
                      src="/assets/images/icons/inactive.png" alt="" height="13">
                  </p>
                </div>
                <img src="/assets/images/company-logos/mule-without-tagline.png" height="28" alt="" class="mr-2">
                <div *ngFor="let jivaContrller of jivaContrllers;let i = index">
                  <p *ngIf="jivaContrller.pvc === pvc.name">
                    <span
                      placement="bottom" ngbTooltip="{{jivaContrller.name}}">target</span> on <span placement="bottom"
                      ngbTooltip="{{jivaContrller.nodeName}}">{{jivaContrller.node}}</span>
                    <img height="13" class="ml-2" [ngClass]="{
                  'display':jivaContrller.status === 'Running',
                  'hide':jivaContrller.status !== 'Running'
                }"
                      src="/assets/images/icons/active.png" alt="">
                    <img [ngClass]="{
                  'display':jivaContrller.status !== 'Running',
                  'hide':jivaContrller.status === 'Running'
                }"
                      src="/assets/images/icons/inactive.png" alt="" height="13" class="ml-2">
                  </p>
                </div>
                <div *ngFor="let jivaReplica of jivaReplicas; let j = index">
                  <p *ngIf="jivaReplica.pvc === pvc.name">
                    <span
                      placement="bottom" ngbTooltip="{{jivaReplica.name}}">Replica</span>-{{j}} on <span placement="bottom"
                      ngbTooltip="{{jivaReplica.nodeName}}">{{jivaReplica.node}}</span>
                    <img height="13" class="ml-2" [ngClass]="{
                    'display':jivaReplica.status === 'Running',
                    'hide':jivaReplica.status !== 'Running'
                  }"
                      src="/assets/images/icons/active.png" alt="">
                    <img [ngClass]="{
                    'display':jivaReplica.status !== 'Running',
                    'hide':jivaReplica.status === 'Running'
                  }"
                      src="/assets/images/icons/inactive.png" alt="" height="13" class="ml-2">
                  </p>
                </div>
              </div>
              <hr>
            </div>

            <div class="col-md-12 " [ngClass]="{
              'display':dashboardurl === '',
              'hide':dashboardurl !== ''
            }">
            <p></p>
            <hr>
              <p class="mb-0 p-2 bg-white pr-0 loadGen">Load Generation</p>
              <div class="d-flex align-items-end justify-content-between p-2 bg-white">
                <div class="d-flex align-items-end justify-content-between w-50 text-secondary">
                  <p class="mb-0" placement="bottom" ngbTooltip="Generate random write operation on {{workloadName}} application">Write
                    Operations</p> <button class="btn btn-pill btn-secondary action-button btn-sm btn-outline-custom goBtn" 
                    (click)="save()">Go</button>
                </div>
                <div class="btn btn-pill status-button" *ngIf="writeStatus" placement="bottom" [ngClass]="{
                    'btn-success':poststatus===200,
                    'btn-danger':poststatus===500
                  }">{{poststatus}}
                </div>
              </div>
              <div class="d-flex align-items-end justify-content-between p-2 bg-white">
                <div class="d-flex align-items-end justify-content-between w-50 text-secondary">
                  <p class="mb-0" placement="bottom" ngbTooltip="Perform read operation on {{workloadName}} application">Read
                    Operations</p> <button class="btn btn-pill btn-secondary action-button btn-sm btn-outline-custom goBtn"
                    (click)="read()">Go</button>
                </div>
                <div class="btn btn-pill status-button" *ngIf="readStatus" placement="bottom" [ngClass]="{
                    'btn-success':getstatus===200,
                    'btn-danger':getstatus===500
                  }">{{getstatus}}
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-white" >
            <div class="col-md-12 ">
              <div class=" p-2 configuration-header ">
                <div class="d-flex justify-content-between ">
                  <div class="loadGen">Query command &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mayactlVol">
                      mayactl volumes list -n {{namespace}} </span></div> <button class="btn btn-secondary btn-sm float-right btn-outline-custom"
                    (click)="listVolume() ">Execute</button>
                </div>

              </div>

              <div class=" my-2 ">
                <div class="py-1 ">
                  <div class=" py-1 ">
                    <table class="mayactlData text-secondary" class="table " *ngFor="let volume of jivas ">
                      <tr>
                        <td class="p-0 border-0">Volume Name:</td>
                        <td class="p-0 border-0">{{volume.name}}</td>
                      </tr>
                      <tr>
                        <td class="p-0 border-0">Status:</td>
                        <td class="p-0 border-0">{{volume.status}}</td>
                      </tr>
                      <tr>
                        <td class="p-0 border-0">Replica Count:</td>
                        <td class="p-0 border-0">{{volume.replicas}}</td>
                      </tr>
                      <tr>
                        <td class="p-0 border-0">Capacity:</td>
                        <td class="p-0 border-0">{{volume.size}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </ng-template>
  </ng-template>   
    </div>

    <div class="col-md-4">
      <div class="row my-2 " >
        <div class="col-md-12 pr-0">

          <div class="bg-white text-center rounded shadow pt-6 pb-4">
            <img class="w-55" src="/assets/images/company-logos/litmuslogo.svg" alt="">
            <p class="mb-0 font-italic text-secondary fo-sz-12" >Run live chaos test</p>
          </div>
          <hr class="bg-white my-0 w-80">
        </div>
        <div class="col-md-12 pr-0">
          <div class="alert alert-primary alert-dismissible text-center mb-0 p-1 fo-sz-14" 
            role="alert" *ngIf="isAlert">
            {{ alertMessage }}
          </div>
          <table class="table table-borderless bg-white pt-1 mb-0 rounded" id="captchaform">
            <tbody class="text-secondary fo-sz-12">
              <tr>
                <td class="p-2 pr-0 border-top-0 fo-sz-15 "> Choose one of the chaos tests from below : </td>
              </tr>
              <tr class="custom-select1 line-h-8">
              <div *ngFor="let chaosTest of chaosTests;">
                <td>
                    <input type="radio" name="onChaosSelect"
                        value="{{chaosTest}}" 
                        (change)="onChaosSelect($event.target.value)">
                </td>
                <td class="chaoslabel">{{ chaosTest }}</td>
              </div>
            </tr>
              <tr class="line-h-8">
              <div [ngClass]="{'hide':litmusGoBtn}" style="width:70%">
                <div class="custom-select1 hide-custom">
                    <hr>
                    <p class="text-lg-left pl-1">Select Application :</p>
                  <div *ngFor="let statefulset of litmuspod">
                    <td>
                        <input type="radio" name="ApplicationSelect" 
                            value="{{statefulset.pvc}}" 
                            (change)="onAppSelect($event.target.value)">
                    </td>
                    <td>{{statefulset.name}}</td>
                  </div>
                </div>
              </div>
              </tr>
               <tr>
                <td>
                  <div [ngClass]="{'hide':litmusGoBtn}">
                  <div class="hide-custom" >   
                      <div [formGroup]="aFormGroup">
                        <ngx-recaptcha2
                          [siteKey]="siteKey"
                          (success)="handleSuccess()"
                          formControlName="recaptcha">
                        </ngx-recaptcha2>
                      </div>
                    </div>
                  </div>  
                      <div>
                          <button class="btn btn-pill btn-secondary action-button btn-sm btn-outline-custom h-100 litmusGoButton" id="litmusGo"
                          (click)="runChaosTest(selectedChaos, selectedApplication) " >
                          Go </button>
                      </div>
                    </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 pr-0">
          <div class="bg-white p-2 rounded-bottom h-45">
            <div *ngIf="litmusGetResponse ;else showLitmus"></div>
            <ng-template #showLitmus>
              
              <div *ngIf="statefullSets.length > 0; else deployPersent1" class="shadow litmusBox">
                <p class="fo-sz-18">Litmus logs</p>
                <div *ngIf="litmusStarted == true">
                  <p><span class="jobCreated"
                      placement="bottom" ngbTooltip="{{litmusName}}"> {{litmusName}}</span> job is created</p>
                  <p class="d-flex ">Job Name : &nbsp;&nbsp; <span class="litmusJob"
                      placement="bottom" ngbTooltip="{{litmusJobName}}"> {{litmusJobName}} </span></p>
                  <p class="d-flex align-items-center litmusPod" *ngIf="litmusLog.startingstatus === true">Pod Name : &nbsp;&nbsp;<span
                      placement="bottom" ngbTooltip="{{litmusLog.podname}}">{{litmusLog.podname}}</span> </p>
                  <p class="d-flex justify-content-between align-items-center" *ngIf="litmusLog.startingstatus === true">
                    <span class="d-flex">
                      <span class="litPodStart"
                        placement="bottom" ngbTooltip="{{litmusLog.podname}}"> {{litmusLog.podname}}</span> litmus test
                      pod is starting </span> <i *ngIf="litmusLog.startingstatus === true && litmusLog.runnigstatus !== true"
                      class="fas fa-spinner fa-pulse float-right"></i> <i *ngIf="litmusLog.startingstatus === true && litmusLog.runnigstatus === true"
                      class="far fa-check-circle float-right"></i></p>
                  <p class="d-flex justify-content-between align-items-center" *ngIf="litmusLog.runnigstatus === true">
                    <span class="d-flex"> <span class="litRunning"
                        placement="bottom" ngbTooltip="{{litmusLog.podname}}">{{litmusLog.podname}}</span>
                      litmus test is running </span> <i class="fas fa-spinner fa-pulse float-right" *ngIf="litmusLog.runnigstatus === true && litmusLog.completesstatus !== true"></i><i
                      class="far fa-check-circle float-right" *ngIf="litmusLog.runnigstatus === true && litmusLog.completesstatus === true"></i>
                  </p>
                  <p *ngIf="litmusLog.runnigstatus === true">wait for sometime check status at left panel </p>
                  <p class="d-flex  align-items-center" *ngIf="litmusLog.completesstatus === true">
                    <span class="litmusCompleate"
                      placement="bottom" ngbTooltip="{{litmusLog.podname}}">{{litmusLog.podname}}</span>
                    litmus test is completed </p>
                </div>
              </div>
            <ng-template #deployPersent1>
              <div class="p-0 litmusNote">
                  Note: Need an active application deployment in the cluster
              </div>
            </ng-template>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</div>