p {
  font-size: 14px;
}

.display {
  display: inline-block;
  float: right;
}

.hide {
  display: none;
}

.btn-outline-custom:hover:enabled {
  color: #fff;
  background-image: linear-gradient(rgb(248, 149, 118), #F05A2B);
  border-color: #1585D8;
}

.W-80 {
  width: 80%;
}

.btn-outline-custom {
  color: #354052;
  background-color: transparent;
  background-image: none;
  border-color: #DFE3E9;
}

@media screen and (max-width:1300px) {
  p {
    font-size: 12px;
  }
}

.divideLine:nth-of-type(2) {
  border-left: 1.4px solid rgb(175, 210, 236);
  padding-left: 15px;

}

.divideLine:nth-of-type(1) {
  padding-right: 5px;
}

.VLine {
  border-left: 1.4px solid rgb(175, 210, 236);
  padding-left: 50px;

}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(255, 255, 255);
  ;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #3F9BC8;
}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -3px;
  left: -2px;
  padding: 2px;
  position: relative;
  background-color: #F05A2B;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 5px double rgb(255, 255, 255);
}

.go-button {
  width: 50px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-18 {
  font-size: 18px;
}

.line-h-8 {
  line-height: 0.8;
}

.litmus-box {
  background-color: #F2F4F6;
  border-radius: 0.4rem;
  padding: 1rem;
}

.litmus-note {
  background-color: #F2F4F6;
  border-radius: 0.4rem;
  padding: 1rem;
}

.litmus-compleate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.litmus-job {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.litmus-pod {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.litmus-pod-start {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.litmus-running {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job-created {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.litmus-go-button {
  width: 50px;
  visibility: hidden;
  margin-top: 7px;
}
