.banner-info {
  display: block;
  background: #cc2b5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #753a88,
    #cc2b5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #753a88,
    #cc2b5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: sticky;
  /* padding-bottom: 25px; */
  z-index: 2000;
  width: auto;
  /* height: auto; */
}
.banner-info .content {
  color: white;
  text-align: center;
}
.hidebanner {
  display: none;
}
