.img-overview{
    height: 260px;
    /* border: solid 1px #CCC;
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
    box-shadow: 5px 5px 5px #999; */
    transition: all .2s ease-in-out;

}
.img-overview:hover{
    height: 400px;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
    transition: all .2s ease-in-out;
}
p{
    pointer-events: none;
}
h1{
    font-family: lato;
}
::-webkit-scrollbar
{
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px #FFB78A;
	-webkit-box-shadow: inset 0 0 6px #FFB78A;
	background-color: #C0C0C0;
}