.scrollbar
{
	height: 895px;
	overflow-y: scroll;
}

#scrollbar::-webkit-scrollbar
{
	width: 5px;
}

#scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4D99D0;
}