.scrollbar {
  border-right: 1px solid #DCDCDC ;
}

#scrollbar::-webkit-scrollbar {
  width: 0px;
}

#scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #C0C0C0;
}

.dashboard-body {
  max-width: auto;
  font-family: 'Lato', sans-serif;

  .body-content {
    padding-top: 10px;
    padding-left: 15px;
  }
}

.footer-row{
  position: absolute;bottom: 0;background-color: #7149c2 ; height: 50px;
}

.footer-text{
  font-size: 14px;
  font-weight: 100;
  color: white ;
}
.footer-sandbox{
  width: fit-content;
}