<!-- <div class="container-fluid"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0 scrollbar bg-light" id="scrollbar" >
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 p-0 dashboard-body">
      <app-header></app-header>
      <div class="fixed-bottom bg-white ">
      </div>
      <div class="body-content" id="scrollbar">
        <router-outlet></router-outlet>
      </div>
      <!-- <div *ngIf="vendor == 'false'" class="col-md-12 bg-light footer-row border-top" > 
        <div>
          <p class="text-secondary m-0 p-0">Copyright ©2019 MayaData Inc.</p>
        </div>
        <div class="d-flex" style="position: absolute ; right:0;">
          <p style="margin-top: 2px;margin-bottom: 0px;font-style: 10px;" class="text-secondary"> Powered by </p>
          <p style="margin-top: -5px;">
            <img src="assets/images/workload-logo/gitlab.svg" alt="" height="30">
          </p>
        </div>
      </div> -->
    </div>
    <div class="col-12 m-0 p-0" style="position: absolute;bottom: 0;background-color: #7149c2">
      <div class="row">
        <div class="col-9">
          <img src="/assets/images/company-logos/mayadata-white.svg" alt="" height="20" class="pl-5">
        </div>
        <div class="col-3 text-right">
          <span style="font-size: 15px;">Powered by</span>
          <img src="assets/images/workload-logo/gitlab-text-white.svg" alt="" height="30">
        </div>

      </div>
      </div>
  </div>
  
</div>
<!-- </div> -->