.scrollbar
{
	height: 100vh;
	overflow-y: scroll;
}

#scrollbar::-webkit-scrollbar
{
	width: 0px;
}

#scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C0C0C0;
}
