<!-- <div class="container-fluid"> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-2  p-0 scrollbar bg-white" id="scrollbar">
			<app-sidebar></app-sidebar>
		</div>
		<div class="col-md-10 col-sm-12 p-0 dashboard-body">
			<!-- <app-header></app-header> -->
			<div id="scrollbar">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<div class="row fixed-bottom p-ms-0 m-md-0 ">
		<div class="col-md-12 bg-purple py-md-1">
			<footer>
				<div class="row">
					<div class="col-4 text-center text-md-left my-md-2 my-sm-0">
						<span class="footer-text d-none d-md-inline ">Copyright © 2019 MayaData Inc.</span>
						<span class="footer-text d-md-none">Mayadata</span>
					</div>
					<div class="col-4">
						<div class="d-md-flex rounded bg-white footer-sandbox  mx-auto my-md-1 my-2">
							<img class="d-none d-md-inline" src="assets/images/company-logos/openebs-logo-mule.svg" alt="" height="30">
							<img src="assets/images/company-logos/cncf-sandbox.png" alt="" height="30">
						</div>
					</div>
					<div class="col-4 text-md-right text-sm-center footer-text ">
						<span class="">Powered by</span>
						<img src="assets/images/workload-logo/gitlab-text-white.svg" alt="" height="40">
					</div>
				</div>
			</footer>
		</div>
	</div>

</div>
<!-- </div> -->