h5{
  font-size: 18px;
}
.cursor-pointer {
  cursor: pointer;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  transition: all 0.3s;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul li a {
  border: 2px solid;
  border-color: white;
  padding: 10px;
  font-size: 1.2em;
  color: #54576b;
  display: block;
}

#sidebar ul li a:hover {
  border-radius: 10px;
  background: rgb(13, 92, 170);
}

#sidebar ul li:active > a {
  background-color: rgb(34, 95, 156);
  border-radius: 10px;
}

// .menu .list-group-item:last-child {
//   border-bottom: 10;
// }

img {
  padding-right: 15px;
}

ul {
  margin-top: 0px;
  font-size: 12px !important;
}

.wrapper {
  background-color: white;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.sidebarBottom{
  position: absolute;
  bottom: 0;
}
.bgColor{
  background-image: url('/src/assets/images/company-logos/sideimg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}
#sidebar {
  border: none;
  li:active{
  color: #64c2e1;
}
li:focus{
  outline:#64c2e1  ;
  border-radius: 20px;
  color: #00ABFF;
  
}
}
.dharma:hover{
.fa-dharmachakra{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}