<!-- <div class="wrapper ">
  <div class="text-center bg-white border-bottom py-2">
    <img src="/assets/images/company-logos/dashboard-logo.png" alt="" class="p-0" height="80">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light p-md-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidebar">
      <ul class="list-unstyled justify-content-center w-100">
        <li *ngIf="vendor == 'false'" routerLink="/" [routerLinkActiveOptions]="{ exact : true }"
          routerLinkActive="active-link"
          class="item cursor-pointer rounded-left py-md-4 py-sm-1 button text-center border-bottom">
          <div>
            <h5>Stable Releases</h5>
          </div>
        </li>
        <li *ngIf="vendor == 'false'"
          class="item cursor-pointer rounded-left py-md-4 py-sm-1 button text-center border-bottom" routerLink="/development"
          [routerLinkActiveOptions]="{ exact : true }" routerLinkActive="active-link">
          <div>
            <h5>Development Branch</h5>
          </div>
        </li>
        <li>
          <a *ngIf="vendor == 'true'"
            class="item cursor-pointer rounded-left py-md-4 py-sm-1 button text-center border-bottom" target="_blank"
            href="{{ 'SIDEBAR.DASHBOARD-URL' | translate }}">
            <div class="text-center">
              <img src="assets/images/company-logos/ci-e2e.png" alt="ci-e2e">
            </div>
            <div>
              <h5 translate>SIDEBAR.DASHBOARD</h5>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div> -->


<div class="wrapper sidebar-style">
  <div class="row my-3">
    <div class="text-center mx-auto py-2">
      <img src="/assets/images/company-logos/dashboard-logo.png" alt="" class="p-0" height="80">
    </div>
  </div>
  <div class="row mx-auto">
    <ul class="list-group mx-auto w-100">
      <li class=" px-0 sidebar-group">
        <div class="px-4 py-3 active-sidebar-item">Storage Engines</div>
        <ul class="mx-4">
          <li class="storage-link-items">
            <a class="storage-engine-links" routerLinkActive="storage-engine-link-active" [routerLink]="['/openebs/cstor/openshift']">OpenEBS/cStor</a>
          </li>
          <li class="storage-link-items">
            <a class="storage-engine-links" routerLinkActive="storage-engine-link-active" [routerLink]="['/openebs/jiva/openshift']">OpenEBS/jiva</a>
          </li>
          <li class="storage-link-items">
            <a class="storage-engine-links" routerLinkActive="storage-engine-link-active" [routerLink]="['/openebs/cstor-csi/openshift']">OpenEBs/cstor-csi</a>
          </li>
          <li class="storage-link-items">
            <a class="storage-engine-links" routerLinkActive="storage-engine-link-active" [routerLink]="['/openebs/jiva-operator/openshift']">OpenEBs/jiva-operator</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>