<div class="wrapper ">
  <div class="text-center bg-white border-bottom py-2">
      <img src="/assets/images/company-logos/dashboard-logo.png" alt="" class="p-0" height="80">
  </div>
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li *ngIf="vendor == 'false'" class="item cursor-pointer rounded-left py-4 button text-center border-bottom" routerLink="/"
        [routerLinkActiveOptions]="{ exact : true }" routerLinkActive="active-link">
        <div class="">
          <h5 class="mb-0">Development Branch</h5>
        </div>
      </li>
      <li *ngIf="vendor == 'false'" class="item cursor-pointer rounded-left py-4 button text-center border-bottom">
        <a href="https://ci.mayadata.io" target="_blank" class="border-0 p-0" >
          <div class="">
            <h5 class="mb-0">Stable Releases</h5>
          </div>
        </a>
      </li>
      <li>
        <a *ngIf="vendor == 'true'" class="item cursor-pointer rounded-left py-4 button text-center border-bottom" target="_blank"
          href="{{ 'SIDEBAR.DASHBOARD-URL' | translate }}">
          <div class="text-center">
            <img src="assets/images/company-logos/ci-e2e.png" alt="ci-e2e">
          </div>
          <div class="">
            <h5 class="mb-0" translate>SIDEBAR.DASHBOARD</h5>
          </div>
        </a>
      </li>
      <li class="item cursor-pointer rounded-left py-4 button workload-item border-bottom" routerLink="workload-dashboard"
        routerLinkActive="active-link">
        <div class="text-center ">
          <h5 class="mb-0" translate>SIDEBAR.WORKLOADS</h5>
        </div>
      </li>
    </ul>
  </nav>
</div>