.sidebar-style{
  font-family: Mulish;
}
.active-sidebar-item{
  background-color: #9FA2B4;
  color: #DDE2FF;
  border-left: 10px solid #DDE2FF;
  font-size: 18px;
}

.sidebar-group{
  background-color: rgba(159, 162, 180, 0.4);
  font-size: 16px;
  li{
    color: #A4A6B3;
    margin: 15px 5px ;
  }
}

.storage-engine-links{
  color: #A4A6B3;
}

.storage-engine-link-active{
  color: #DDE2FF;
}

.storage-link-items{
  list-style-type: none;
}

.status-tooltip .tooltip-inner{ 
  background-color: #9FA2B4;
  font-size: 10px !important;
  color: azure;
}

.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.version{
  font-size: 10px;
}

.powered-by{
  font-size: 10px;
  display: block;
}











// h5 {
//   font-size: 18px;
// }

// .cursor-pointer {
//   cursor: pointer;
// }

// li .sidebar-logo {
//   font-size: 30px;
// }

// a,
// a:hover,
// a:focus {
//   color: inherit;
//   text-decoration: none;
//   transition: all 0.3s;
// }

// #sidebar {
//   transition: all 0.3s;
// }

// // #sidebar ul.components {
// //   padding: 0;
// // }

// #sidebar ul li a {
//   border: 2px solid;
//   border-color: white;
//   padding: 10px;
//   font-size: 1.2em;
//   color: #54576b;
//   display: block;
// }

// #sidebar ul li a:hover {
//   border-radius: 10px;
// }

// #sidebar ul li:active>a {
//   border-radius: 10px;
// }

// img {
//   padding-right: 15px;
// }

// ul {
//   margin-top: 0px;
//   font-size: 12px !important;
//   width: max-content;
// }

// .wrapper {
//   width: 100%;
//   position: relative;
//   top: 0px;
//   left: 0px;
//   width: 100%;
// }

// #sidebar.active {
//   margin-left: -250px;
// }

// a[data-toggle="collapse"] {
//   position: relative;
// }

// .dropdown-toggle::after {
//   display: block;
//   position: absolute;
//   top: 50%;
//   right: 10px;
//   transform: translateY(-50%);
// }

// #sidebar {
//   border: none;

//   li:active {
//     color: #64c2e1;
//   }

//   li:focus {
//     outline: #64c2e1;
//     color: #00ABFF;

//   }
// }

// .workload-item:hover {
//   .fa-dharmachakra {
//     transform: rotate(120deg);
//     transition: 1.5s;
//   }
// }

// .sidebar-bottom {
//   color: #004ED6;
//   font-size: 14px;
//   position: absolute;
//   bottom: 0;
// }


// .active-link {
//   padding-top: 5px;
//   margin-right: -1px;
//   outline: #64c2e1;
//   color: #00ABFF;
//   background-color: white;
// }

