table{
    td{
        vertical-align: middle;
    }
    tr{
        font-size: 14px;
    }
    .platform-icon img{
        height: 44px;
    }
    .pipeline-commit{
        font-size: 12px;
    }
}
.font-sec-12{
    font-size: 12px;
}

.pipeline-init-row{

}