table{
    td{
        vertical-align: middle;
    }
    tr{
        font-size: 14px;
    }
    .platform-icon img{
        height: 44px;
    }
    .pipeline-commit{
        font-size: 12px;
    }
}
.font-sec-12{
    font-size: 12px;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  h4 {
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    // font-size: 6em;
    text-align: center;
    margin-bottom: 0;
    margin-bottom: -0.25em;
  }