<div class="container-fluid bg-white py-2">
    <h5>
        {{'ROUTE.MAYASTOR.TITLE' | translate}}
    </h5>
    <div class="bg-white rounded border ">
        <table class="table table-borderless">
            <tr class="border-bottom">
                <th scope="col">{{'ROUTE.MAYASTOR.TABLE.ID' | translate}}</th>
                <th scope="col">{{'ROUTE.MAYASTOR.TABLE.BRANCH' | translate}}</th>
                <th scope="col">{{'ROUTE.MAYASTOR.TABLE.IMAGETAG' | translate}}</th>
                <th scope="col">{{'ROUTE.MAYASTOR.TABLE.STATUS' | translate}}</th>
                <th scope="col">{{'ROUTE.MAYASTOR.TABLE.STARTED_ON' | translate}}</th>
                <th scope="col">{{'ROUTE.MAYASTOR.TABLE.JENKINS_URL' | translate}}</th>
            </tr>
            <tbody>
                <ng-template ngFor let-pip [ngForOf]="data" let-i="index">
                    <tr>
                        <td>
                            <a class="pipeline-id font-size-15" routerLink="{{pip.issueId}}">{{pip.issueId}}</a>
                        </td>
                        <td>{{pip.branch}}</td>
                        <td>{{pip.imageTag}}</td>
                        <td>{{getStatus(pip.tests)}}</td>
                        <td>{{pip.tests[0].startedOn}}</td>
                        <td>
                            <a target="_blank" href="{{pip.jenkinsLink}}">
                                <img src="/assets/images/workload-logo/jenkins.png" alt="gitlab-logo" height="25"
                                    class="gitlab-job-image"></a>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>