 .nav-link1.active{ 
    background: rgba(100,194,225,1);
    background: -moz-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,194,225,1)), color-stop(100%, rgba(52,143,192,1)));
    background: -webkit-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -o-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -ms-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: linear-gradient(to right, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c2e1', endColorstr='#348fc0', GradientType=1 );
h5{
    color: #DFE2E5;
}
}
h5{
    color: #7491AB;
}

.status-active{
    background-color: #539A49;
}
.status-inactive{
    background-color:  #D20000;
}

.list-group-item{
    border-top:3px solid #B4DEFF;
    border-bottom:3px solid #B4DEFF;
    color: #354052;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}
.dashboard-hyperlink{
    background-color: rgba(183, 224, 255, 0.4969);;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: #2197F0;

    :hover{
        text-decoration: underline;
    }
}

.nav-link1{
    border: 1px solid  rgba(100,194,225,1);
    height: 80px;
    padding: 2px 20px;
}
.display{
    display: block;
}
.hide{
    display: none;
}
p{
    font-size: 0.8rem;
}
#myTable {
    font-family:sans-serif;
    font-style: normal;
    color: rgb(28, 41, 58);
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px 50px 30px;
    border:solid white 1px;
    border-radius:6px;
    border-spacing: 5px;
    min-width: 350px;
    margin-top: 2rem;
}
#myTable td{
    padding: 8px;
}
#myTable th {
    border-collapse: collapse;
    text-align: center;
    font-family: 'Open Sans',sans-serif!important;
    font-style: normal;
    font-size: 16px;
    color: rgb(47, 43, 63);
    padding-top: 10px;
    padding-bottom: 10px;
}
#myTable th:first-child{
    text-align: left
}
#myTable tr td:first-child{
    text-align: left
}
#myTable .headtext{
    text-align: center;
}
#myTable .headrow{
    border-bottom:2px solid #D0D3E2;
    border-top:2px solid #D0D3E2;
    background-color: rgb(255, 255, 255);
}
#myTable .tablerowtext{
    text-align: center;
    font-family: 'Open Sans',sans-serif!important;
    font-style: normal;
    font-size: 13px;
    color: #141823;
}
#myTable .tabledatarow{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(100,194,225,1);
}
#myTable .tabledatarow{
    text-align: center;
    text-decoration-style: solid;
}
.workloadmainbox{
    margin-top: 50px;
    margin-right:25px;
    position: absolute;
    width: 205.79px;
    height: 330.62px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.workloadlogocolour{
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #D20000;
}
.workloadbalance{
    margin-top: 90px;
    width: 100%;
    margin-top: 87px;
    height: 215px;
    text-align: center;
}
.workloadlogo{
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: 0.5px solid rgb(246, 247, 243);
    margin-top: 35px;
    margin-left: 76px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.workloadlogo img {
    object-fit: fill;
    padding-left: 3px;
    border-top-width: 5px;
    border-bottom-width: 1px;
    width: 57px;
    margin-top: 0px;
    height: 55px;
    padding-bottom: 2px;
    height:58px;width:57px;
}
.active{
  color: #495057;
}
.inactive{
    color:#ced4da;
}
.viewtype{
    font-size: 20px;
    padding: 0.2rem
}
.jivacstor{
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Lato;
    font-size: 12px;
    text-align: center;
    border-top-style: solid ;
    border-bottom-style: solid;
    border-color: #B4DEFF;
    color: #354052;
}
.dashboardbox{
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    color: #00ABFF;
    :hover{
        text-decoration-line: underline;
    }
}
.badge-gradient-success {
    background-color: #B8F8E0;
    color: #003E31;
}
.badge-gradient-danger {
    background-color: #ffb8bd;
    color: #700B0B;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #EFEFF2;
    border-radius: 20px;
  }
  input[type=text] {
    // width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-image: url('/src/assets/images/icons/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 7px 20px 7px 40px;
  }