<div class="container-fluid bg-white" style="height:850px">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="mb-4 mt-3" style="padding-left:15px">
          <h1 style="font-size: 18px;color: #354052">Live deployments of stateful applications</h1>
          <h2 style="    font-size: 14px;color: #7F8FA4">Running either OpenEBS JIVA or OpenEBS cStor</h2>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 m-2">
            <ul class="nav" id="myTab" role="tablist" style="margin-bottom:4rem;">
              <li class="nav-item">
                <a class="nav-link nav-link1 active " id="home-tab" data-toggle="tab" href="#home" role="tab"
                  aria-controls="home" aria-selected="true">
                  <h1 style="font-size: 2.6em;text-align: left;padding-left: 20px;color: #3A3D54;">Jiva</h1>
                  <h5 style="font-size: 0.8em;text-align: left;padding-left: 14px;">Applications
                    Running-5/5</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link1" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false">
                  <h1 style="font-size: 2.6em;text-align: left;padding-left: 20px;color: #3A3D54;">cStor</h1>
                  <h5 style="font-size: 0.8em;text-align: left;padding-left: 14px;">Applications
                    Running-4/4</h5>
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/mongo.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">Mongo</p>
                              <p>3 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">Jiva 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                  'display':mongoStatus === 'Running',
                                  'hide':mongoStatus !== 'Running'
                                }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                  'display':mongoStatus !== 'Running',
                                  'hide':mongoStatus === 'Running'
                                }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/mongo-jiva">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/cockroachdb.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">CockroachDB</p>
                              <p>3 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">Jiva 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                        'display':cockdbjiva === 'Running',
                                        'hide':cockdbjiva !== 'Running'
                                      }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                        'display':cockdbjiva !== 'Running',
                                        'hide':cockdbjiva === 'Running'
                                      }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/cockroachdb-jiva">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/percona.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">Percona</p>
                              <p>1 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">Jiva 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                          'display':perconaStatus === 'Running',
                                          'hide':perconaStatus !== 'Running'
                                        }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                          'display':perconaStatus !== 'Running',
                                          'hide':perconaStatus === 'Running'
                                        }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/percona-jiva">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/wordpress.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">Wordpress</p>
                              <p>3 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">Jiva 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                            'display':wordpressStatus === 'Running',
                                            'hide':wordpressStatus !== 'Running'
                                          }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                            'display':wordpressStatus !== 'Running',
                                            'hide':wordpressStatus === 'Running'
                                          }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/wordpress-nfs">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/prometheus.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">Prometheus</p>
                              <p>1 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">Jiva 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                              'display':prometheusStatus === 'Running',
                                              'hide':prometheusStatus !== 'Running'
                                            }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                              'display':prometheusStatus !== 'Running',
                                              'hide':prometheusStatus === 'Running'
                                            }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/prometheus-jiva">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/mongo.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">MongoDB</p>
                              <p>3 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">cStor 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                                  'display':mongocstorStatus === 'Running',
                                                  'hide':mongocstorStatus !== 'Running'
                                                }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                                  'display':mongocstorStatus !== 'Running',
                                                  'hide':mongocstorStatus === 'Running'
                                                }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/mongo-cstor">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/percona.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">Percona</p>
                              <p>1 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">cStor 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                                    'display':perconacstorStatus === 'Running',
                                                    'hide':perconacstorStatus !== 'Running'
                                                  }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                                    'display':perconacstorStatus !== 'Running',
                                                    'hide':perconacstorStatus === 'Running'
                                                  }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/percona-cstor">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/prometheus.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">Prometheus</p>
                              <p>1 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">cStor 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                                      'display':prometheuscstorStatus === 'Running',
                                                      'hide':prometheuscstorStatus !== 'Running'
                                                    }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                                      'display':prometheuscstorStatus !== 'Running',
                                                      'hide':prometheuscstorStatus === 'Running'
                                                    }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/prometheus-cstor">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-3">
                          <div class="d-flex justify-content-between w-100">
                            <div>
                              <img src="/assets/images/workloads-logos/grafana.svg" alt="" style="height:50px;width:50px">
                              <p class="mb-2">Grafana</p>
                              <p>1 Replicas </p>
                            </div>
                            <div>
                              <img src="/assets/images/company-logos/mule-without-tagline.png" alt="openebs" style="height:50px;width:50px">
                              <p class="mb-2">cStor 0.7 </p>
                              <p>3 Replicas per pv</p>
                            </div>
                            <div class="d-flex flex-column align-items-center" style="justify-content: inherit;">
                              <img [ngClass]="{
                                                        'display':grafanaStatus === 'Running',
                                                        'hide':grafanaStatus !== 'Running'
                                                      }"
                                src="/assets/images/icons/success.svg" alt="" style="height:30px;width:30px;margin-top:10px">
                              <img [ngClass]="{
                                                        'display':grafanaStatus !== 'Running',
                                                        'hide':grafanaStatus === 'Running'
                                                      }"
                                src="/assets/images/icons/error.png" alt="" style="height:30px;width:30px;margin-top:10px">
                              <p> <a href="/grafana-cstor">Dashboard</a> </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>