 .nav-link1.active{ 
    background: rgba(100,194,225,1);
    background: -moz-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,194,225,1)), color-stop(100%, rgba(52,143,192,1)));
    background: -webkit-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -o-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -ms-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: linear-gradient(to right, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c2e1', endColorstr='#348fc0', GradientType=1 );

h5{
    color: #DFE2E5;
}
}
h5{
    color: #7491AB;
}

.nav-link1{
    border-style: dotted;
    border-width: 1px;
    border-radius: 10px ;
    border-color:  rgba(100,194,225,1) ;
    height: 110px;
    padding-top: 14px;
    padding-bottom: 14px;
}


.display{
    display: block;
}
.hide{
    display: none;
}
p{
    font-size: 0.8rem;
}
#workloadlist {
    font-family:sans-serif;
    font-style: normal;
    color: rgb(28, 41, 58);
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px 50px 30px;
    border:solid white 1px;
    border-radius:6px;
    border-spacing: 5px;
    min-width: 350px;



}
#workloadlist td{
    padding: 8px;
    text-align: left;
}


#workloadlist th {
    
    border-collapse: collapse;
    text-align: center;
    font-family: 'Open Sans',sans-serif!important;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: rgb(47, 43, 63);

    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 3.5px;
    border-top-style: solid ;
    border-bottom-width: 3.7px;
	border-bottom-style: solid;
    border-bottom-color: rgba(100,194,225,1);
    border-top-color: rgba(100,194,225,1);




}
#workloadlist .headtext{
    text-align: left;


}

// #workloadlist .headrow{
//     border-bottom-color: blue;
// }
#workloadlist .tablerowtext{
    text-align: left;
    font-family: 'Open Sans',sans-serif!important;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: #141823;
}
#workloadlist .tabledatarow:hover {
    background: rgba(100,194,225,1);
    background: -moz-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,194,225,1)), color-stop(100%, rgba(52,143,192,1)));
    background: -webkit-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -o-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: -ms-linear-gradient(left, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    background: linear-gradient(to right, rgba(100,194,225,1) 0%, rgba(52,143,192,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c2e1', endColorstr='#348fc0', GradientType=1 );
}
#workloadlist .tabledatarow{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(100,194,225,1);
}
#workloadlist .tabledatarow{
    text-align: center;
    text-decoration-style: solid;
}

.workloadmainbox{
margin-top: 50px;
margin-right:25px;
position: absolute;
width: 205.79px;
height: 310.62px;
border-radius: 5px;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.workloadlogocolour{
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #D20000;

}
.workloadbalance{

    margin-top: 90px;
    width: 100%;
    margin-top: 87px;
    height: 215px;
    text-align: center;
}

.workloadlogo{

    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: 0.5px solid rgb(246, 247, 243);
    margin-top: 35px;
    margin-left: 76px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);


    }
.workloadlogo img {
    object-fit: fill;

    padding-left: 3px;
    border-top-width: 5px;
    border-bottom-width: 1px;
    width: 57px;
    margin-top: 0px;
    height: 55px;
    padding-bottom: 2px;


    height:58px;width:57px;
 

    
}
.jivacstor{
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Lato;
    font-size: 12px;
    text-align: center;
    border-top-style: solid ;
    border-bottom-style: solid;
    border-color: #B4DEFF;
    color: #354052;

}
.dashboardbox{
    font-size: 12px;font-style: normal;
                          font-weight: bold;line-height: normal;font-size: 14px;text-decoration-line: underline;color: rgb(8, 8, 8);
}

