h5{
    color: #DFE2E5;
}
h5{
    color: #7491AB;
}

.status-active{
    background-color: #539A49;
}
.status-inactive{
    background-color:  #D20000;
}

.list-group-item{
    border-top:3px solid #B4DEFF;
    border-bottom:3px solid #B4DEFF;
    color: #354052;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}
.dashboard-hyperlink{
    background-color: rgba(183, 224, 255, 0.4969);;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: #2197F0;

    :hover{
        text-decoration: underline;
    }
}
.display{
    display: block;
}
.hide{
    display: none;
}
#myTable {
    font-style: normal;
    color: rgb(28, 41, 58);
    border-collapse: collapse;
    width: 100%;
    // border-radius: 15px 50px 30px;
    // border:solid white 1px;
    border-radius:6px;
    // border-spacing: 5px;
    min-width: 350px;
    margin-top: 2rem;
}
#myTable td{
    padding: 8px;
}
#myTable th {
    border-collapse: collapse;
    text-align: center;
    font-family: 'Open Sans',sans-serif!important;
    font-style: normal;
    font-size: 16px;
    color: rgb(47, 43, 63);
    padding-top: 10px;
    padding-bottom: 10px;
}
#myTable th:first-child{
    text-align: left
}
#myTable tr td:first-child{
    text-align: left
}
#myTable .headtext{
    text-align: center;
}
#myTable .headrow{
    border-bottom:2px solid #D0D3E2;
    border-top:2px solid #D0D3E2;
    background-color: rgb(255, 255, 255);
}
#myTable .tablerowtext{
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #141823;
}
#myTable .tabledatarow{
    text-align: center;
    // text-decoration-style: solid;
}
.active{
  color: #495057;
}
.inactive{
    color:#ced4da;
}
.dashboardbox{
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    color: #00ABFF;
    :hover{
        text-decoration-line: underline;
    }
}
.badge-gradient-success {
    background-color: #B8F8E0;
    color: #003E31;
}
.badge-gradient-danger {
    background-color: #ffb8bd;
    color: #700B0B;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #EFEFF2;
    border-radius: 20px;
  }
  input[type=text] {
    width: 18%;
    box-sizing: border-box;
    border: 2px solid #d0d3e2;
    border-radius: 8px;
    font-size: 12px;
    font-style: italic;
    background-color: white;
    // background-image: url('/src/assets/images/icons/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 7px 20px 7px 5px;
  }
.tabledatarow{
    span{
        font-size: 12px;
        font-weight: normal;
    }
    img{
        transition: transform .3s;
        height: 25px;
    }
}
.tabledatarow:hover{
img{
        -ms-transform: scale(1.7); /* IE 9 */
        -webkit-transform: scale(1.7); /* Safari 3-8 */
        transform: scale(1.7); 
}
td a{
    font-weight: 600;
}
}
table tr:nth-of-type(odd){
    background-color: rgba(239,239,242,0.4);
}
  