<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="">
          <h1>qkjebvqebvfhbqeivb</h1>
          <h2>uier rb3yeoiv13bifhuui13huih21 12bediu12hiudh</h2>
        </div>
      </div>
    </div>

    <div class="col-md-12">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav" id="myTab" role="tablist" style="margin-bottom:4rem;">
              <li class="nav-item">
                <a class="nav-link nav-link1 active " id="home-tab" data-toggle="tab" href="#home" role="tab"
                  aria-controls="home" aria-selected="true">
                  <h1>Jiva</h1>
                  <h5>Application Running-9/10</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link1" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false">
                  <h1>Cstor</h1>
                  <h5>Application Running-9/10</h5>
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/mongo.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>mongo</p>
                                <p>Jiva 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':mongoStatus === 'Running',
                              'hide':mongoStatus !== 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':mongoStatus !== 'Running',
                              'hide':mongoStatus === 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Statefulset - 3 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="/mongo-jiva" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/grafana.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>Percona</p>
                                <p>Jiva 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':cockdbjiva === 'Running',
                              'hide':cockdbjiva !== 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':cockdbjiva !== 'Running',
                              'hide':cockdbjiva === 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>

                        <div class="bg-white p-4">
                          <p>Deployment - 1 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="percona-jiva'" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/cockroach.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>CockroachDb</p>
                                <p>Jiva 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':cockdbjiva === 'Running',
                              'hide':cockdbjiva != 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':cockdbjiva != 'Running',
                              'hide':cockdbjiva == 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Statefulset - 3 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="cockroach-jiva" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/wordpress.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>wordpress</p>
                                <p>Jiva 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':wordpressStatus === 'Running',
                              'hide':wordpressStatus != 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':wordpressStatus != 'Running',
                              'hide':wordpressStatus == 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Deployment - 3 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="/wordpress-nfs" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/prometheus.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>prometheus</p>
                                <p>Jiva 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':prometheusStatus === 'Running',
                              'hide':prometheusStatus != 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':prometheusStatus != 'Running',
                              'hide':prometheusStatus == 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Deployment - 1 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/mongo.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>mongo</p>
                                <p>Cstor 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':mongocstorStatus === 'Running',
                              'hide':mongocstorStatus != 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':mongocstorStatus != 'Running',
                              'hide':mongocstorStatus == 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Statefulset - 3 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="/mongo-cstor" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/grafana.png" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>Grafana</p>
                                <p>Cstor 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':grafanaStatus === 'Running',
                              'hide':grafanaStatus != 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':grafanaStatus != 'Running',
                              'hide':grafanaStatus == 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Deployment - 1 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="/grafana-cstor" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/grafana.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>percona</p>
                                <p>Cstor 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':perconacstorStatus === 'Running',
                              'hide':perconacstorStatus != 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':perconacstorStatus != 'Running',
                              'hide':perconacstorStatus == 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Deployment - 1 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="/percona-cstor" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-5 shadow-sm bg-white rounded">
                        <div class="d-flex bg-light p-4">
                          <div class="d-flex justify-content-between w-100">
                            <div class="d-flex align-items-center">
                              <img src="/assets/images/workloads-logos/promethus.svg" alt="" style="height:50px;width:50px">
                              <div class="pl-5">
                                <p>prometheus</p>
                                <p>Cstor 0.7</p>
                              </div>
                            </div>
                            <img [ngClass]="{
                              'display':prometheuscstorStatus === 'Running',
                              'hide':prometheuscstorStatus != 'Running'
                            }"
                              src="/assets/images/icons/success.svg" alt="">
                            <img [ngClass]="{
                              'display':prometheuscstorStatus != 'Running',
                              'hide':prometheuscstorStatus == 'Running'
                            }"
                              src="/assets/images/icons/error.png" alt="" style="height:35px">
                          </div>
                        </div>
                        <div class="bg-white p-4">
                          <p>Deployment - 1 replica </p>
                          <p>OpenEBS - 3 replica per pv <a href="prometheus-cstor" class="float-right">Dasboard</a> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>