<div class="container h-100">
  <div class="container-fluid h-100">
    <div class="d-block h-100">
      <div class="container row bg-light bg-light border rounded mx-2 my-4 p-2">
        <div class="col-4">



          <div class="d-block justify-content-arounds">
            <div class="p-title d-flex justify-content-between my-1">
              <div class="d-flex">Pipeline ID <div class="p-id ml-3">{{pipData.id}}</div>
              </div>
              <div class="status-pipeline text-right"><span class="border rounded rounded-pill p-1"
                  [ngClass]="statusBadge(pipData.status)">{{pipData.status}}</span></div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-block">
                <div class="triggered"><i class="far fa-clock text-secondary"></i> Triggered {{triggerDate(pipData)}}
                </div>
                <div class="duration"><i class="fas fa-stopwatch text-secondary"></i> {{pipeDuration(pipData)}}</div>
              </div>
              <div>
                <a type="button" class="btn btn-link p-0" href="{{pipData.web_url}}">GitLab page <i
                    class="fas fa-external-link-alt"></i></a>
              </div>
            </div>

          </div>









        </div>
        <div class="col-8">
          <div class="d-flex justify-content-around">
            <div class="card-count total shadow border rounded d-block text-center">
              <div class="title">
                Total Jobs
              </div>
              <div class="count my-1 font-weight-bold">
                {{totalJobs}}
              </div>
            </div>
            <div class="card-count success border rounded d-block text-center">
              <div class="title">
                Success
              </div>
              <div class="count my-1 font-weight-bold">
                {{successJobs}}
              </div>
            </div>
            <div class="card-count fail border rounded d-block text-center">
              <div class="title">
                Failed
              </div>
              <div class="count my-1 font-weight-bold">
                {{failedJobs}}
              </div>
            </div>
            <div class="card-count skip border rounded d-block text-center">
              <div class="title">
                Skipped
              </div>
              <div class="count my-1 font-weight-bold">
                {{totalJobs - (successJobs+failedJobs)}}
              </div>
            </div>

          </div>






        </div>
      </div>
      <div class="container job-section text-white h-100 border rounded ">
        <div class="row h-100">
          <div class="col-5 mt-5 text-dark overflow-y-scroll">
            <div *ngFor="let stages of pipeD" class="each-stage">

              <a class="btn btn-link stage-name" data-toggle="collapse" href="#{{stages.stageName}}" role="button"
                aria-expanded="false">
                {{stages.stageName}}
              </a>
              <span class="border rounded rounded-pill p-1 font-size-12"
                [ngClass]="statusBadge(stages.status)">{{stages.status}}</span>

              <div class="collapse job-list-expand" id="{{stages.stageName}}">
                <div>
                  <!-- <b>{{stages.stageName}}</b> -->
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-transparent  "
                      *ngFor="let job of stages.allJobs" (click)="activeJob(platform,branch,job.id,job)">
                      <span class="job-name">{{job.name}}</span>




                      <span class="badge badge-pill" [ngClass]="statusBadgeforJob(job.status)">{{job.status}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7 overflow-y-scroll bg-secondary pt-2 rounded pr-2">
            <div class="bg-dark  text-white rounded p-2">
              <div class="id">JobID: {{actJobData.id}}</div>
              <div class="name">JobName: {{actJobData.name}}</div>
              <div class="started">StartedAt: {{timeConverter(actJobData.started_at)}}</div>
              <div class="finished">FinishedAt: {{timeConverter(actJobData.finished_at)}}</div>
              <!-- <div class="duration"></div> -->
            </div>
            {{jobLogs}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>